<mat-toolbar class="mat-elevation-z8">

    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle();ref.detectChanges();">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
</button>


  <a [routerLink]="['/dashboard']">
      <img src="../../assets/sheyla-logo.svg" width="153" height="50">
  </a>
  <div>
  <!--<span class="span-dias-restantes">15 Dias restantes</span>-->
  <button matTooltip="Soporte Tecnico" mat-icon-button (click)="clickSoporteTecnico()" >
    <mat-icon>help</mat-icon>
  </button>
  <button matTooltip="Realizar Pago" mat-icon-button (click)="clickShowFormPlanes()">
    <mat-icon>payments</mat-icon>
  </button>
  <button matTooltip="Salir" mat-icon-button (click)="logout()" >
    <mat-icon>logout</mat-icon>
  </button>
  </div>
  

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" >
      <div class="mat-drawer-inner-container">
        <img class="avatar mat-elevation-z8"  src="../../../assets/default_user.png" />

        <h4 class="name">{{nombreUserSession}}</h4>
        <p class="designation">{{nombreEmpSession}}</p>

        <mat-divider></mat-divider>
        <div class="menu">

          <li *ngFor="let menu of menus; let i = index"  [class.active]="menu.active"
              (click)="selectMenu(menu)">
            <a class="a-btn" >
              <mat-icon *ngIf="menu.matIcon != 'doc_electronicos'">{{menu.matIcon}}</mat-icon>
              <mat-icon *ngIf="menu.matIcon == 'doc_electronicos'" style="width: 32px;">outgoing_mail</mat-icon>
              <span>{{menu.name}}</span>
              <mat-icon class="chevron-icon" *ngIf="menu.submenu.length > 0">chevron_right</mat-icon>
            </a>
            <div #submenu class="menu-item-sub" [ngStyle]="{
              'max-height': menu.active ? submenu.scrollHeight + 'px' : 0 + 'px'
            }">
              <a *ngFor="let submenu of menu.submenu" (click)="selectSubmenu(submenu); $event.stopPropagation();">{{submenu.name}}</a>
            </div>
          </li>

      </div>
      </div>

    </mat-sidenav>
    <mat-sidenav-content #sidenavcontent>
      <div class="content mat-elevation-z8">

        <router-outlet></router-outlet>
       
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet name="print"></router-outlet>