.mat-toolbar{
  height: 3rem;
}

.mat-toolbar a, .mat-toolbar a img{
  height: 100%;
}


.name{
  margin-bottom: 8px;
}

ol{
  padding-left: 0;
}
ul{
  padding-left: 10px;
}

ol, li{
  list-style: none;
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  cursor: pointer;
}

.a-btn{
  display: block;
  padding: 10px 15px;
  
  position: relative;
}

li .a-btn{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

a span{
  flex: 1 1 auto;
  text-align: start;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.menu-item-sub{
  
  overflow: hidden;
  transition: max-height 0.4s ease;
  max-height: 0;
}

.menu-item-sub a{
  background: #026f96;
  color: white;
  display: block;
  padding: 8px 10px;
  position: relative;
  
  text-align: start;
  padding-left: 30px;
}
.menu-item-sub a:hover{
  background: #057da4;
  color: white;
}

.chevron-icon{
  transition: transform 0.3s;
}

li.active .a-btn{
  box-shadow: 0 5px 20px rgba(0,0,0,.1) ;
}
li.active .chevron-icon{
  transform: rotate(90deg);
}

mat-toolbar {
    background: var(--color-primary-dark);;
    color: white;
    justify-content: space-between;
  }
  
  mat-sidenav {
    display: block;
    margin: 16px;
    width: 200px;
    border-right: none;
    background: var(--color-primary-dark);
    color: white;
    border-radius: 10px;
    padding-right: 16px;
    padding-bottom: 16px;
    text-align: center;
  }
  
  .content {
    min-height: calc(100vh - 98px);;
    height: auto;
    border-radius: 10px;
    margin: 8px;
    margin-left: 28px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
  }
  
  .span-dias-restantes{
    font-size: 11px;
    margin-right: 3rem;
    font-weight: 400;
  }
  
  @media screen and (max-width: 800px){
    .content{
      margin-left: 8px;
    }
    .span-dias-restantes{
      margin-right: 0;
    }
  }
  
  mat-sidenav-container {
    height: calc(100% - 3rem);
  }
  
  .menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  
  }
  
  .menu-button mat-icon{
    margin-right: 8px;
  }
  
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  mat-sidenav{
    padding-right: 0;
  }
  
  .mat-drawer-inner-container{
    overflow: initial !important;
  }
  
  mat-toolbar  a img{
    cursor: pointer;
  }

