<section class="card container grid">
    <div class="card__container grid">
        <!--==================== CARD 1 ====================-->
        <article class="card__content grid">
            <div class="card__pricing">
                <div class="card__pricing-number">
                    <span class="card__pricing-symbol">$</span>25
                </div>
                <span class="card__pricing-month">/Anual</span>
            </div>

            <header class="card__header">
                <div class="card__header-circle grid">
                    <!--<img src="assets/img/free-coin.png" alt="" class="card__header-img">-->
                </div>
                
                <span class="card__header-subtitle">Independiente</span>
                <h1 class="card__header-title">Basico</h1>
            </header>
            
            <ul class="card__list grid">
                <li class="card__list-item">
                    <mat-icon class="uil uil-check card__list-icon">check</mat-icon>
                    <p class="card__list-description">50 Documentos</p>
                </li>
                <li class="card__list-item">
                    <mat-icon class="uil uil-check card__list-icon">check</mat-icon>
                    <p class="card__list-description">Usuarios Ilimitados</p>
                </li>
                <li class="card__list-item">
                    <mat-icon class="uil uil-check card__list-icon">check</mat-icon>
                    <p class="card__list-description">Soporte Tecnico Gratuito</p>
                </li>
            </ul>

            <button class="card__button">Elije este plan</button>
        </article>

        <!--==================== CARD 2 ====================-->
        <article class="card__content grid">
            <div class="card__pricing">
                <div class="card__pricing-number">
                    <span class="card__pricing-symbol">$</span>70
                </div>
                <span class="card__pricing-month">/Anual</span>
            </div>

            <header class="card__header">
                <div class="card__header-circle grid">
                    <!--<img src="assets/img/pro-coin.png" alt="" class="card__header-img">-->
                </div>

                <span class="card__header-subtitle">Media Empresa</span>
                <h1 class="card__header-title">Medio</h1>
            </header>
            
            <ul class="card__list grid">
                <li class="card__list-item">
                    <mat-icon class="uil uil-check card__list-icon">check</mat-icon>
                    <p class="card__list-description">200 Documentos</p>
                </li>
                <li class="card__list-item">
                    <mat-icon class="uil uil-check card__list-icon">check</mat-icon>
                    <p class="card__list-description">Usuarios Ilimitados</p>
                </li>
                <li class="card__list-item">
                    <mat-icon class="uil uil-check card__list-icon">check</mat-icon>
                    <p class="card__list-description">Soporte Tecnico Gratuito</p>
                </li>
            </ul>

            <button class="card__button">Elije este plan</button>
        </article>

        <!--==================== CARD 3 ====================-->
        <article class="card__content grid">
            <div class="card__pricing">
                <div class="card__pricing-number">
                    <span class="card__pricing-symbol">$</span>130
                </div>
                <span class="card__pricing-month">/Anual</span>
            </div>

            <header class="card__header">
                <div class="card__header-circle grid">
                    <!--<img src="assets/img/enterprise-coin.png" alt="" class="card__header-img">-->
                </div>

                <span class="card__header-subtitle">Empresarial</span>
                <h1 class="card__header-title">Avanzado</h1>
            </header>
            
            <ul class="card__list grid">
                <li class="card__list-item">
                    <mat-icon class="uil uil-check card__list-icon">check</mat-icon>
                    <p class="card__list-description">Documentos Ilimitados</p>
                </li>
                <li class="card__list-item">
                    <mat-icon class="uil uil-check card__list-icon">check</mat-icon>
                    <p class="card__list-description">Usuarios Ilimitados</p>
                </li>
                <li class="card__list-item">
                    <mat-icon class="uil uil-check card__list-icon">check</mat-icon>
                    <p class="card__list-description">Soporte Tecnico Gratuito</p>
                </li>
            </ul>

            <button class="card__button">Elije este plan</button>
        </article>
    </div>
</section>