<div class="titulo">
    <p>Info Empresa</p>
  </div>

<div class="container-register">

    <div class="container-form">

        <mat-card>
            <mat-card-content>

                <form [formGroup]="sendDatosEmpresaForm" (ngSubmit)="updateDatosEmpresa(sendDatosEmpresaForm.value)">
                    <div class="all-content">
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Ruc Empresa</mat-label>
                                <input matInput type="text" formControlName="ruc" >
                            </mat-form-field>

                            <mat-form-field >
                                <mat-label>Nombre Empresa</mat-label>
                                <input #nombreEmpresaInput matInput type="text" formControlName="nombreEmpresa" >
                            </mat-form-field>

                        </div>

                        <div class="container-form-field">

                            <mat-form-field class="mat-form-field-date">
                                <mat-label>Razon Social</mat-label>
                                <input matInput type="text" formControlName="razonSocial" >
                            </mat-form-field>

                            <mat-form-field class="mat-form-field-date">
                                <mat-label>Fecha Inicio</mat-label>
                                <input matInput readonly [matDatepicker]="picker" formControlName="fechaInicio" >
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                        </div>

                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Eslogan</mat-label>
                                <input matInput type="text" formControlName="eslogan" >
                            </mat-form-field>

                            <mat-form-field >
                                <mat-label>Pagina Web</mat-label>
                                <input matInput type="text" formControlName="web" >
                            </mat-form-field>

                        </div>
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>E-Mail</mat-label>
                                <input matInput type="text" formControlName="email" >
                            </mat-form-field>

                            <mat-form-field >
                                <mat-label>Telefonos</mat-label>
                                <input matInput type="text" formControlName="telefonos" >
                            </mat-form-field>
                        </div>
                        <div class="container-form-field">

                        </div>
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Direccion Matriz</mat-label>
                                <input matInput type="text" formControlName="direccionMatriz" >
                            </mat-form-field>

                            <mat-form-field >
                                <mat-label>Sucursal 1</mat-label>
                                <input matInput type="text" formControlName="sucursal1" >
                            </mat-form-field>

                        </div>

                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Sucursal 2</mat-label>
                                <input matInput type="text" formControlName="sucursal2" >
                            </mat-form-field>

                            <mat-form-field >
                                <mat-label>Sucursal 3</mat-label>
                                <input matInput type="text" formControlName="sucursal3" >
                            </mat-form-field>

                        </div>

                        <div class="container-form-field">
                            <mat-form-field >
                              <mat-label>Propietario</mat-label>
                              <input matInput type="text" formControlName="propietario" >
                            </mat-form-field>

                            <mat-form-field >
                                <mat-label>Comentario</mat-label>
                                <input matInput type="text" formControlName="comentario" >
                            </mat-form-field>
                        </div>


                        <div class="container-logo-empresa">
                            <div>
                              <img [src]="imgURL" height="200" *ngIf="imgURL">
                            </div>
                            <div>
                                <label for="file-upload" class="custom-file-upload">
                                <mat-icon>file_upload</mat-icon>Logo Empresa
                                </label>
                                <input #file id="file-upload" accept='image/png'  type="file"  (change)="preview(file.files);"/>
                            </div>
                        </div>

                        <div class="container-form-btn">
                            <button [class.spinner]="loading" [disabled]="loading" mat-raised-button color="btn-icon-accent">Guardar</button>
                        </div>

                    </div>
                </form>

            </mat-card-content>
        </mat-card>

    </div>


</div>
