.titulo{
    margin-bottom: .5em;
  }
  .titulo p{
    font-size: .8em;
    font-weight: 400;
    color: var(--grey-600);
  }
.container-register{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
.mat-card{
    box-shadow: 0 5px 20px rgba(0,0,0,.05) !important;
}
.container-register{    
    /*background-color: green;*/
    min-height: 100%;
    height: auto;
}


.container-form{
    max-width: 900px;
    width: 100%;
}

.container-form-field{
    width: 100%;
}

.all-content, .container-form-field{
    display: flex;
    flex-flow: row wrap;    
    align-content: center;
    align-items: center;
}

.container-form-field .mat-form-field{
    flex: 1 1 0;
    max-width: 100%;
}

.mat-form-field + .mat-form-field{
    margin-left: 20px;
}

@media screen and (max-width: 455px){
    .mat-form-field + .mat-form-field{
        margin-left: 0;
    }   
}

@media screen and (max-width: 472px){
    .mat-form-field-date + .mat-form-field-date {
        margin-left: 0;
    }   
}

.mat-card-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

::ng-deep  .mat-card-header-text {
    margin: 0 !important;
}


.container-form-btn{
    width: 100%;
    text-align: end;
    margin-top: 20px;
}

.container-form-btn button{
    background-color: #00AAFF;
    color: #ffffff;
    font-weight: normal;
  }


.spinner{
    color: rgba(0,0,0,.26) !important;
    background-color: rgba(0,0,0,.12) !important;
    box-shadow: 0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12) !important;
  }