<div class="titulo">
    <p>Configuraciones</p>
</div>

<mat-card>
    <mat-card-header class="bg-info text-white">
        <mat-card-title >
            <label>Configuraciones Generales</label>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="content-configs">
            <div>
                <p>Valor Iva:</p>                
                <input matInput >
            </div>
            <div>
                <p>Decimales en Venta:</p>
                <input matInput >
            </div>
            <div>
                <p>Decimales en Compra:</p>
                <input matInput>
            </div>
        </div>
    </mat-card-content>
</mat-card>