<div class="titulo">
    <p>Configuraciones</p>
</div>

<mat-card>
  <mat-card-header class="bg-info text-white">
      <mat-card-title >
          <label>Configuracion Ventas</label>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div class="content-configs">
          <div>
              <p class="margin-bottom-cero">Valor Iva:</p>
              <input matInput [(ngModel)]="ivaSelect" type="text"
              (blur)="changeValorIva();">
          </div>
          <div>
              <p class="margin-bottom-cero">Decimales en Venta:</p>
              <mat-form-field appearance="fill" style="margin-bottom: -1.25em">
                  <mat-label>Decimales</mat-label>
                  <mat-select [(value)]="decimalesVentaSelect" (selectionChange)="changeToogle(NAMES_CONFIGS[1], decimalesVentaSelect)">
                    <mat-option *ngFor="let decimales of listDecimalesVenta" [value]="decimales">
                      {{decimales}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div>
            <p class="margin-bottom-cero">Iva Incluido en Ventas:</p>
            <mat-slide-toggle [(ngModel)]="checkedIvaIncluidoVentas"
            (change)="changeToogle(NAMES_CONFIGS[4], checkedIvaIncluidoVentas)"></mat-slide-toggle>
          </div>

          <div>
            <p class="margin-bottom-cero">PERMITIR INGRESAR VENTAS SIN SECUENCIA CORRECTA</p>
            <mat-slide-toggle [(ngModel)]="checkedVentasSinSecuencia"
            (change)="changeToogle(NAMES_CONFIGS[3], checkedVentasSinSecuencia)"></mat-slide-toggle>
          </div>  

          <div>
            <p class="margin-bottom-cero">IMPRESION DE DOCUMENTOS</p>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="impresionDocumentosValue" >
              <mat-radio-button value="1" (change)="changeToogle(NAMES_CONFIGS[7], '1')">Mostrar PDF</mat-radio-button>
              <mat-radio-button value="2" style="margin-left: 10px;" (change)="changeToogle(NAMES_CONFIGS[7], '2')">PDF Rollo</mat-radio-button>
            </mat-radio-group>
            
          </div>
      </div>

  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header class="bg-info text-white">
      <mat-card-title >
          <label>Configuraciones Compras</label>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div class="content-configs">
         
          <div>
              <p class="margin-bottom-cero">Decimales en Compra:</p>
              <mat-form-field appearance="fill" style="margin-bottom: -1.25em">
                  <mat-label>Decimales</mat-label>
                  <mat-select [(value)]="decimalesCompraSelect" (selectionChange)="changeToogle(NAMES_CONFIGS[2], decimalesCompraSelect)">
                    <mat-option *ngFor="let decimales of listDecimalesVenta" [value]="decimales">
                      {{decimales}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
        
      </div>

  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header class="bg-info text-white">
      <mat-card-title >
          <label>Configuraciones Caja</label>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div class="content-configs">
          
          <div>
            <p class="margin-bottom-cero">PERMITIR CAMBIAR FECHA EN MOV. CAJA</p>
            <mat-slide-toggle [(ngModel)]="checkedPermitirChangeFechaMovCaja"
            (change)="changeToogle(NAMES_CONFIGS[5], checkedPermitirChangeFechaMovCaja)"></mat-slide-toggle>
          </div>
          <div>
            <p class="margin-bottom-cero">PERMITIR CAMBIAR USUARIO CUADRE DE CAJA</p>
            <mat-slide-toggle [(ngModel)]="checkedPermitirCambiarUsuarioCuadreCaja"
            (change)="changeToogle(NAMES_CONFIGS[6], checkedPermitirCambiarUsuarioCuadreCaja)"></mat-slide-toggle>
          </div>

      </div>

  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-header class="bg-info text-white">
      <mat-card-title >
          <label>Facturación Electrónica</label>
      </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="content-configs">

      <div>
        <p class="margin-bottom-cero">Agente de Retención:</p>
        <input matInput type="text" [(ngModel)]="valueAgenteRetencion">
      </div>

      <div>
        <p class="margin-bottom-cero">Contribuyente Especial:</p>
        <input matInput type="text" [(ngModel)]="valueContribuyenteEspecial">
      </div>

      <div>
        <p class="margin-bottom-cero">Pertenece al regimen Rimpe?</p>
        <mat-slide-toggle [(ngModel)]="checkedPerteneceRegimenRimpe"></mat-slide-toggle>
      </div>

      <div>
        <p class="margin-bottom-cero">Obligado a llevar Contabilidad?</p>
        <mat-slide-toggle [(ngModel)]="checkedObligadoLlevarContabilidad"></mat-slide-toggle>
      </div>

      <div>
        <div>
          <mat-icon>key</mat-icon>
        <p class="margin-bottom-cero"> Subir Firma Electrónica</p>
        </div>
        <input #file type="file" (change)="onFileChange(file.files)" accept=".p12,.pfx">
      </div>

      <div>
        <div>
          <mat-icon>lock</mat-icon>
          <p class="margin-bottom-cero">Clave Firma Electrónica:</p>
        </div>
        <input matInput type="password" [(ngModel)]="claveFirmaElectronica">
      </div>

    <div class="container-btn-save-fac-electronica">
      <button mat-raised-button class="btn-icon-accent" (click)="guardarConfigsFacturacionElectronica()"> Guardar</button>
    </div>

    </div>
  </mat-card-content>
</mat-card>