<div class="titulo">
  <p>Establecimientos</p>
</div>


<div class="container-options" #containerTable>
    <div style="display: flex;justify-content: flex-end;">
        <button mat-raised-button class="font-weight-300 mat-elevation-z1" 
          color="btn-icon-accent" (click)="clickNuevoEstabl()">
          <mat-icon>add</mat-icon>
          Nuevo Establecimiento
        </button>
    </div>
</div>

<mat-card>
    
    <mat-card-content>

        <div class="flex-layout-table" >
            <mat-table [dataSource]="datasource" role="grid" >

                <ng-container matColumnDef="establecimiento" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Establecimiento </th>
                    <td mat-cell *matCellDef="let establecimiento" data-label="Establecimiento"> {{establecimiento.numeroEstablecimiento}} </td>
                  </ng-container>
                  <ng-container matColumnDef="nombreEmpresa" >
                    <th mat-header-cell class="flex-grow-1_5" *matHeaderCellDef mat-sort-header > Nombre Empresa </th>
                    <td mat-cell *matCellDef="let establecimiento" class="flex-grow-1_5" data-label="Nombre Empresa"> {{establecimiento.nombreEmpresa}} </td>
                  </ng-container>
                  <ng-container matColumnDef="direccion" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="flex-grow-1_5"> Direccion </th>
                    <td mat-cell  *matCellDef="let establecimiento" data-label="Direccion" class="flex-grow-1_5"> {{establecimiento.direccion}} </td>
                  </ng-container>
                  <ng-container matColumnDef="telefono">
                    <th mat-header-cell class="justify-centro" *matHeaderCellDef mat-sort-header > Telefono </th>
                    <td mat-cell class="justify-centro" *matCellDef="let establecimiento" data-label="Logo" > {{establecimiento.telefono}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef class="flex-grow-dot7">Opciones</th>
                    <td mat-cell   *matCellDef="let row" data-label="Opciones" class="flex-grow-dot7">
                      <div style="display: flex;width: 100%;">
                        <button matTooltip="Editar" mat-icon-button color="icon-accent" 
                              aria-label="boton editar cliente" mat-tooltip="Editar" (click)="editarEstablecimiento(row.id,row.numeroEstablecimiento)">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button matTooltip="Eliminar" mat-icon-button color="icon-red" aria-label="boton eliminar cliente" 
                          (click)="eliminarClick(row.id)">
                          <mat-icon >delete</mat-icon>
                        </button>
                      </div>

                    </td>
                  </ng-container>

                <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <!--<mat-paginator *ngIf="showPagination" #paginator [pageSizeOptions]="[15, 30, 50]"
                 showFirstLastButtons
                 aria-label="Seleccione pagina elementos cliente"
                 (page)="scrollUp()">
            </mat-paginator>-->


          <div *ngIf="showSinDatos"
                style="display: flex; justify-content: center; align-items: center; margin-top: 3rem; margin-bottom: 3rem;padding-bottom: 3rem;">
              <label> No se Encontraron Datos</label>
          </div>

        </div>
    </mat-card-content>
</mat-card>