<div style="text-align: center;">
    <h2>Pago Realizado Correctamente</h2>
</div>  

<!-- <div class="ticket-card">
    <div class="ticket-header">
      <h2>Datos de cliente</h2>
    </div>
    <div class="ticket-content">
      <p><strong>Nombre:</strong> Juan Pérez</p>
      <p><strong>Número de cédula:</strong> 123456789</p>
    </div>
    <div class="ticket-header">
      <h2>Datos de transacción</h2>
    </div>
    <div class="ticket-content">
      <p><strong>Subtotal:</strong> $100.00</p>
      <p><strong>Impuestos:</strong> $15.00</p>
      <p><strong>Total:</strong> $115.00</p>
    </div>
    <div class="ticket-wave"></div>
</div> -->
  