<div class="container-register">

    <div class="container-form">

        <mat-card>
            <mat-card-content>

                <p>INGRESE LOS DATOS DE SU EMPRESA</p>

                <form [formGroup]="sendDatosEmpresaForm">
                    <div class="all-content">

                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Ruc Empresa</mat-label>
                                <input matInput type="text" formControlName="ruc" >
                            </mat-form-field>
                        </div>
                        
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Nombre Empresa</mat-label>
                                <input matInput type="text" formControlName="nombreEmpresa" >
                            </mat-form-field>
                        </div>

                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Razon Social</mat-label>
                                <input matInput type="text" formControlName="razonSocial" >
                            </mat-form-field>
                        </div>
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Fecha Inicio</mat-label>
                                <input matInput type="text" formControlName="fechaInicio" >
                            </mat-form-field>
                        </div>

                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Eslogan</mat-label>
                                <input matInput type="text" formControlName="eslogan" >
                            </mat-form-field>
                        </div>
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Pagina Web</mat-label>
                                <input matInput type="text" formControlName="web" >
                            </mat-form-field>
                        </div>
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>E-Mail</mat-label>
                                <input matInput type="text" formControlName="email" >
                            </mat-form-field>
                        </div>
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Telefonos</mat-label>
                                <input matInput type="text" formControlName="telefonos" >
                            </mat-form-field>
                        </div>
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Direccion Matriz</mat-label>
                                <input matInput type="text" formControlName="direccionMatriz" >
                            </mat-form-field>
                        </div>
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Propietario</mat-label>
                                <input matInput type="text" formControlName="propietario" >
                            </mat-form-field>
                        </div>
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Comentario</mat-label>
                                <input matInput type="text" formControlName="Comentario" >
                            </mat-form-field>
                        </div>

                        <div class="container-form-btn">
                            <button mat-raised-button >Guardar</button>
                        </div>

                    </div>
                </form>

            </mat-card-content>
        </mat-card>

    </div>


</div>
