.container-form-field .mat-form-field{
    width: 100%;
}
/*.container-register, .container-form{
    height: 100%;
}

.container-form-field .mat-form-field{
    width: 100%;
}

.container-form{
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.container-card .mat-card{
    padding: 10px;
}*/