<div class="titulo">
    <p>{{titlePage}}</p>
</div>

<div class="container-register">

    <div class="container-form">

        <mat-card>
            <mat-card-content>
                <mat-card-header class="bg-info text-white">
                    <mat-card-title class="proveedores">
                        <h3>Datos Producto</h3>
                        <!--  <div> <label>Total: 2</label></div> -->
                    </mat-card-title>
                </mat-card-header>

                <form [formGroup]="sendDatosFormProducto">
                    <div class="all-content">

                        <div class="container-form-field">

                            <mat-form-field>
                                <mat-label>Codigo</mat-label>
                                <input matInput type="text" formControlName="codigo" #inputCodigo>
                            </mat-form-field>

                            <mat-form-field >
                                <mat-label>Codigo Barras</mat-label>
                                <input matInput type="text" formControlName="codigoBarras" >
                            </mat-form-field>
                        </div>

                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Nombre</mat-label>
                                <input matInput type="text" formControlName="nombre" >
                            </mat-form-field>
                        </div>

                        <div class="container-form-field decimal-field">
                            <mat-form-field >
                                <mat-label>Costo</mat-label>
                                <input matInput type="number" formControlName="costo" (blur)="onLostFocusCalculateUti();">
                                <span matPrefix>$&nbsp;</span>
                            </mat-form-field>
                            <mat-form-field >
                                <mat-label>Utilidad</mat-label>
                                <input matInput type="text" formControlName="utilidad" (blur)="onLostFocusCalculatePvp();">
                                <span matSuffix>%</span>
                            </mat-form-field>
                            <mat-form-field >
                                <mat-label>PVP</mat-label>
                                <input matInput type="number" formControlName="pvp" (blur)="onLostFocusCalculateUti();">
                                <span matPrefix>$&nbsp;</span>
                            </mat-form-field>

                        </div>

                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Stock</mat-label>
                                <input matInput type="text" formControlName="stock" >
                            </mat-form-field>
                            <mat-form-field >
                                <mat-label>Unidad Medida</mat-label>
                                <input matInput type="text" formControlName="unidadMedida" >
                            </mat-form-field>
                        </div>

                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Categoria</mat-label>

                                <input type="text" 
                                aria-label="Categoria"
                                matInput
                                [matAutocomplete]="categoria"
                                formControlName="categoria">

                                <mat-autocomplete autoActiveFirstOption #categoria="matAutocomplete">
                                    <mat-option *ngFor="let categoria of listCategorias | async" [value]="categoria.pro_categoria">
                                        {{categoria.pro_categoria}}
                                    </mat-option>
                                </mat-autocomplete>

                            </mat-form-field>
                            <mat-form-field >
                                <mat-label>Marca</mat-label>

                                <input type="text" 
                                aria-label="Marca"
                                matInput
                                [matAutocomplete]="marca"
                                formControlName="marca">

                                <mat-autocomplete autoActiveFirstOption #marca="matAutocomplete">
                                    <mat-option *ngFor="let marca of listMarcas | async" [value]="marca.prod_marca">
                                        {{marca.prod_marca}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Observacion</mat-label>
                                <input matInput type="text" formControlName="observacion" >
                            </mat-form-field>
                        </div>
                        
                        <div class="container-form-field">
                            <mat-checkbox formControlName="iva" >Tiene Iva</mat-checkbox>
                            <mat-checkbox formControlName="activo" >Esta Activo</mat-checkbox>
                        </div>

                        <div class="container-form-btn">
                            <button  [class.spinner]="loading" [disabled]="loading" mat-raised-button class="btn-cancelar"
                            (mousedown)="cancelarClick();$event.preventDefault();">Cancelar</button>
                            <button (mousedown)="saveDatosProducto(sendDatosFormProducto.value);$event.preventDefault();" 
                            [class.spinner]="loading" [disabled]="loading" mat-raised-button color="btn-icon-accent">Guardar</button>
                        </div>

                    </div>
                </form>

            </mat-card-content>
        </mat-card>

    </div>


</div>

