<div class="login-register"> 
    <div class="login-register-container">
        <mat-card>

            <mat-card-content>

                <form > 
                    <div class="all-content"> 
                        
                        <div class="header-content"> 
                            <img src="../../assets/logo_sheyla/logo3.png" height="90">
                        </div>

                        <div class="content-login-container"> 
                        
                            <div class="container-form-field">
                                <mat-form-field >
                                    <mat-label>Ruc Empresa</mat-label>
                                    <input matInput type="text" >
                                </mat-form-field>
                            </div>

                            <div class="container-form-field">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Ingrese Usuario">
                                </mat-form-field>
                            </div>

                            <div class="container-form-field">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Ingrese contraseña">
                                </mat-form-field>
                            </div>                            

                            <div>
                                <button mat-raised-button>Ingresar</button>
                            </div>

                        </div>
                    </div>

                </form>

            </mat-card-content>
        </mat-card>
        
    </div>
</div>

