<div class="container-login">

  <div class="container-banner cover">
  </div>

  <div class="container-box-login">

    <div class="container-logo">
      <img class="img-responsive" src="../../assets/logo_sheyla/logo1.png">
    </div>

    <div class="container-form-login">
      <h3> Iniciar Sesion</h3>
      <h4> El mejor Aliado Para Tu Empresa</h4>

      <form [formGroup]="sendLoginForm" (ngSubmit)="login(sendLoginForm.value)">
        <div class="all-content">


            <div class="content-login-container">

                <div class="container-form-field">
                  <mat-icon>domain</mat-icon>
                    <mat-form-field >
                        <mat-label>Ruc Empresa</mat-label>
                        <input matInput type="text" formControlName="ruc" >
                    </mat-form-field>
                </div>

                <div class="container-form-field">
                  <mat-icon>account_circle</mat-icon>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Usuario" formControlName="usuario" >
                    </mat-form-field>
                </div>

                <div class="container-form-field">
                  <mat-icon>lock</mat-icon>
                    <mat-form-field>
                        <input matInput type="password" placeholder="contraseña" formControlName="clave" >
                    </mat-form-field>
                </div>

                <div class="container-form-btn">
                    <button mat-raised-button [class.spinner]="loading" [disabled]="loading">INGRESAR</button>
                </div>

            </div>
        </div>

    </form>

    </div>

  </div>
</div>


<!--  <div class="login-register">
    <div class="login-register-container">
        <mat-card>

            <mat-card-content>

                <form >
                    <div class="all-content">

                        <div class="header-content">
                            <img src="../../assets/logo_sheyla/logo3.png" height="90">
                        </div>

                        <div class="content-login-container">

                            <div class="container-form-field">
                              <mat-icon>domain</mat-icon>
                                <mat-form-field >
                                    <mat-label>Ruc Empresa</mat-label>
                                    <input matInput type="text" >
                                </mat-form-field>
                            </div>

                            <div class="container-form-field">
                              <mat-icon>account_circle</mat-icon>
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Ingrese Usuario">
                                </mat-form-field>
                            </div>

                            <div class="container-form-field">
                              <mat-icon>lock</mat-icon>
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Ingrese contraseña">
                                </mat-form-field>
                            </div>

                            <div class="container-form-btn">
                                <button mat-raised-button [routerLink]="['registroempresa']" routerLinkActive="active">INGRESAR</button>
                            </div>

                        </div>
                    </div>

                </form>

            </mat-card-content>
        </mat-card>

    </div>
</div> -->

