<div class="titulo">
    <p>{{titlePage}}</p>
</div>

<div class="wpwl-container">
    <form action='http://localhost:4200/#/payment/final' method="post" target="_blank"
            class="paymentWidgets" data-brands="VISA MASTER DINERS DISCOVER AMEX" >

    </form>
</div>


<div class="main-container" >
    <div class="checkout-container">
          
        <div class="product-container">
            <!-- Contenido del producto -->
            <div class="product-details">
            <header class="product-header">
        
                <div class="product-info">
                <span class="product-title">PLAN ELEJIDO</span>
                <h1 class="product-subtitle ">{{planSelect.titulo}}</h1>
                </div>
            </header>
        
            <ul class="product-features">
                <li class="product-feature" *ngFor="let items of planSelect.benefits">
                    <div>
                        <mat-icon class="uil uil-check card__list-icon">check</mat-icon>
                        <p class="product-feature-description">{{items}}</p>
                    </div>
                </li>
            </ul>
            </div>
        </div>
        

        <div class="summary-container" *ngIf="!isShowPaymentFormDF" >
            <!-- Lado derecho con los detalles de valor subtotal y métodos de pago -->
            <div class="summary-content">
            <h2>Resumen</h2>
            <ul class="summary-list">
                <li>
                <span>Subtotal:</span>
                <span>$ {{subtotal}}</span> <!-- Aquí muestra el valor subtotal calculado dinámicamente -->
                </li>
                <li>
                <span>Impuestos:</span>
                <span>$ {{impuestos}}</span> <!-- Aquí muestra los impuestos calculados dinámicamente -->
                </li>
                <li>
                <span>Total:</span>
                <span>$ {{total}}</span> <!-- Aquí muestra el total calculado dinámicamente -->
                </li>
            </ul>
        
            <!-- Métodos de pago -->
            <h3>Métodos de Pago</h3>
            <ul class="payment-methods">
                <li>
                <input type="radio" id="cash-on-delivery" name="payment-method" value="cash-on-delivery" checked>
                <label for="cash-on-delivery">Tarjeta de Crédito (DataFast)</label>
                </li>
                <!-- Agrega aquí cualquier otro método de pago necesario -->
            </ul>
        
            <div class="container-terminos" *ngIf="!isShowPaymentFormDF">
                <span>Al finalizar la compra, estas aceptando nuestros<a href="javascript: void(0)" (click)="clickTerminos();"> Términos y Condiciones</a></span>
            </div>
            <!-- Botón de finalizar compra -->
            <div class="checkout-button-container" *ngIf="!isShowPaymentFormDF">
                <button mat-button type="submit" class="checkout-button" (click)="finalizarCompra()">Finalizar compra</button>
            </div>
            </div>
        </div>
        
        
    </div>
</div>
  

