<div class="titulo">
    <p>Dashboard</p>
</div>

<div>

    <div class="grid-dashboard">
        
        <div class="grid-item-one" >
            <mat-card>
                <mat-card-content>
                    <div class="container-data-text-value">
                        <p class="text-values-cards">$ {{ventaDiariaValue | number: '.2'}} </p>
                        <p >Venta Diaria</p>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="container-data-text-value">
                        <p class="text-values-cards">$ {{ventaMensualValue | number: '.2'}}</p>
                        <p>Venta Mensual</p>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="container-data-text-value">
                        <p class="text-values-cards">{{clientesRegistradosValue}}</p>
                        <p>Clientes Registrados</p>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="container-data-text-value">
                        <p class="text-values-cards">{{productosRegistradosValue}}</p>
                        <p>Productos Registrados</p>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="grid-item-two">
            <mat-card>
                <mat-card-content>
                    <div class="grid-donut">
                        <canvas id="MyChartVentasFormaPago" >{{chartFormasPago}}</canvas>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="grid-item-three">
            <mat-card>
                <mat-card-content>
                    <div class="container-data-text-value">
                        <p class="text-values-cards">{{documentosEmitidosValue}}</p>
                        <p>Documentos Emitidos</p>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="container-data-text-value">
                        <p class="text-values-cards">169</p>
                        <p>Dias Licencia</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="grid-item-four" >
            <mat-card>
                <mat-card-content>
                    <div class="grid">
                        <canvas id="MyChartProductos" >{{chartProductos}}</canvas>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="grid">
                        <canvas id="MyChartClientes" >{{chartClientes}}</canvas>
                    </div>
                </mat-card-content>
            </mat-card></div>

    </div>

</div>