.titulo{
    margin-bottom: .5em;
}
.titulo p{
    font-size: .8em;
    font-weight: 400;
    color: var(--grey-600);
}

.grid-dashboard{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    
    grid-auto-flow: row;
    padding-top: 5px;
    padding-bottom: 5px;

    min-height: calc(100vh - 5em);
    height: auto;
}

.grid-dashboard .mat-card-content{
    height: 100%;

}

.grid-item-one .mat-card, 
.grid-item-two .mat-card,
.grid-item-three .mat-card,
.grid-item-four .mat-card{
    flex: 1 1 0;
    
    box-shadow: 0 5px 20px rgb(0 0 0 / 5%) !important
}
.grid-item-one .mat-card + .mat-card, 
.grid-item-three .mat-card + .mat-card{
    margin-top: .5rem;
}


.grid-item-one{
    grid-row: 1 / 5;
    grid-column: 1;

   
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 0 10px;    
    align-content: center;
}
.grid-item-one p{
    margin-bottom: 0;
}
.grid-item-one .mat-card{
    height: 100%;
}


.grid-item-two{
    grid-row: 1 / 3;
    grid-column: 2 / 4;

    display: flex;
    flex-flow: row nowrap;
}
.grid-item-two .mat-card{
    flex: 1 1 0;
}
.grid-item-two .mat-card-content{
    display: flex;
    justify-content: center;
}


.grid-item-three{
    grid-row: 1 / 3;
    grid-column: 4 / 5;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 0 10px;    
    align-content: center;
}

.grid-item-four{
    grid-row: 3 / 5;
    grid-column: 2 / 5;

    display: flex;
    flex-flow: row nowrap;
    padding-right: 10px ;
}
.grid-item-four .mat-card{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 0;
    
}
.grid-item-four .mat-card + .mat-card{
    margin-left: .5rem;
}

.container-data-text-value{
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.container-data-text-value p{
    text-align: center;
}

.text-values-cards{
    font-size: 1.7em;
    color: var(--grey-600);
    font-weight: 500;
}

.grid {    
    height: calc(35vh - 2em);
    width: calc(26vw - 2em);
}
/*.grid-donut{
    height: calc(35vh - 2em);
    width: calc(30vw - 1em);
}*/

@media screen and (max-width: 1012px){
    .grid-item-one{
        grid-row: 4;
        grid-column: 1 / 5;

        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        margin-top: .2em;
    }
    .grid-item-one .mat-card + .mat-card{
        margin-top: 0;
        margin-left: .5em;
    }

    .grid-item-two{
        grid-row: 1 / 3;
        grid-column: 1 / 4;
        padding-left: 10px;
        
    }
    
    .grid-item-three{
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }
    .grid-item-four{
        grid-row: 3 / 4;
        grid-column: 1 / 5;
        padding-left: 10px ;   
    }

    .grid {    
        width: calc(30vw - 2em) ; 
    }
    .grid-donut{
        width: calc(42vw - 1em);
    }
}

@media screen and (max-width: 600px){
    .grid-item-two{
        grid-row: 1 / 3;
        grid-column: 1 / 5;

        padding-right: 10px;
    }
    .grid-item-three{
        grid-row: 5;
        grid-column: 1 / 5;
    }
    .grid-item-one{
        flex-flow: column nowrap;
        align-items: unset;
        
    }
    .grid-item-one .mat-card + .mat-card{
        margin-top: .5rem;
        margin-left: 0;
    }
    .grid-item-four{
        flex-flow: column nowrap;   
    }
    .grid-item-four .mat-card + .mat-card{
        margin-top: .5rem;
        margin-left: 0;
    }

    .grid{
        width: calc(75vw - 1em);
    }

    .grid-donut{
        width: calc(60vw - 1em);
    }
}


@media screen and (max-height: 1220px){
    .grid-dashboard{
        min-height: calc(100vh - 6em);
        height: auto;
    }   
}