<div class="container-gen">
    <div class="container-child container-info">
      <div class="container-datos">
        <div class="container-btn-cliente">
          <button mat-raised-button class="font-weight-300 mat-elevation-z1" 
            color="btn-icon-accent" 
            (click)="nuevoClienteClick();$event.preventDefault();">
            <mat-icon>add</mat-icon>
            Nuevo Cliente
          </button>
          <button mat-raised-button class="font-weight-300 mat-elevation-z1" 
            color="btn-icon-accent" 
            (click)="buscarClienteClick();$event.preventDefault();">
            <mat-icon>search</mat-icon>
            Buscar Cliente
          </button>
        </div>

        <mat-card>
          <mat-card-header class="bg-info text-white">
            <mat-card-title class="clientes">
              <label>Datos Cliente</label>
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="container-datos-cliente">

                <mat-form-field >
                  <mat-label>CI/RUC</mat-label>
                  <input matInput type="text" disabled #identificacion>
              </mat-form-field>

              <mat-form-field >
                <mat-label>Nombre</mat-label>
                <input matInput type="text" disabled #nombreCliente>
              </mat-form-field>

              <mat-form-field >
                <mat-label>Direccion</mat-label>
                <input matInput type="text" disabled #dirCliente>
              </mat-form-field>

              </div>
            </mat-card-content>
        </mat-card>

      </div>

      <div class="container-datos">
        <mat-card>
          <mat-card-header class="bg-info text-white">
              <mat-card-title >
                  <label>Datos Factura</label>
              </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="container-datos-factura">
              <mat-spinner *ngIf="loadingSecuencial" [diameter]="30"></mat-spinner>
              <div class="container-form-field" *ngIf="!loadingSecuencial">
                <mat-form-field >
                    <input matInput type="text" disabled value="001">
                </mat-form-field>
                <mat-form-field >
                  <input matInput type="text" disabled value="001">
                </mat-form-field>
                <mat-form-field >
                  <input matInput type="text" disabled value="1">
                </mat-form-field>

              </div>
            </div>
          </mat-card-content>
      </mat-card>
      </div>  
    </div>
    
    <div class="container-child container-items">
        <div class="container-btn-add-item">
          <button mat-button class="btn-add-item"
          (click)="agregarProductoClick();$event.preventDefault();">
            <mat-icon>add</mat-icon>
            Agregar Producto
          </button>
        </div>
        <mat-card>
            <mat-card-header >
                <mat-card-title >
                    <label>ITEMS</label>
                    <!--  <div> <label>Total: 2</label></div> -->
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-table [dataSource]="datasource" role="grid" >
                    
                    <ng-container matColumnDef="#" >
                        <th mat-header-cell class="flex-grow-punto_5" *matHeaderCellDef mat-sort-header >#</th>
                        <td mat-cell class="flex-grow-punto_5" *matCellDef="let producto" data-label="#"> {{producto.cli_documento_identidad}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Codigo" >
                        <th mat-header-cell  *matHeaderCellDef mat-sort-header > Codigo </th>
                        <td mat-cell  *matCellDef="let producto" data-label="Codigo"> {{producto.codigo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Articulo" >
                        <th mat-header-cell class="flex-grow-1_5" *matHeaderCellDef mat-sort-header > Articulo </th>
                        <td mat-cell  class="flex-grow-1_5" *matCellDef="let producto" data-label="Articulo"> {{producto.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Cantidad" >
                      <th mat-header-cell class="justify-centro" *matHeaderCellDef mat-sort-header  >Cant</th>
                      <td mat-cell class="justify-centro" *matCellDef="let producto" data-label="Cantidad"> 
                          {{producto.cantidad}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="descuento" >
                      <th mat-header-cell class="justify-centro" *matHeaderCellDef mat-sort-header  >Desc %</th>
                      <td mat-cell class="justify-centro" *matCellDef="let producto" data-label="Desc %"></td>
                    </ng-container>
                    <ng-container matColumnDef="P Unitario">
                      <th mat-header-cell class="justify-centro" *matHeaderCellDef mat-sort-header> P Unitario </th>
                      <td mat-cell class="justify-centro" *matCellDef="let producto" data-label="P Unitario"> {{producto.precio}} </td>
                    </ng-container>
                    <ng-container matColumnDef="P Total" >
                      <th mat-header-cell class="justify-centro" *matHeaderCellDef mat-sort-header> P Total </th>
                      <td mat-cell class="justify-centro" *matCellDef="let producto" data-label="P Total">$ {{(producto.cantidad * producto.precio)}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell class="flex-grow-punto_5" *matHeaderCellDef> </th>
                      <td mat-cell class="flex-grow-punto_5" *matCellDef="let row" data-label="Opciones">
                        <div>
                          <button mat-icon-button color="icon-red" aria-label="boton eliminar producto" >
                            <a class="wrapper-mat-icon-delete">
                              <mat-icon >clear</mat-icon>
                            </a>
                          </button>
                        </div>
                      </td>
                    </ng-container>
    
                    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div class="container-child container-totales">

        <mat-card class="container-observacion">
            <mat-card-content>
              <mat-form-field class="font-size-one-rem">
                <textarea matInput rows="7" placeholder="Observacion..."></textarea>
              </mat-form-field>
            </mat-card-content>
        </mat-card>

        <div class="container-totales-values">
          <mat-card class="inner-container-total-values">
            <mat-card-content>
              <div class="font-size-one-rem">
                <p>Subtotal</p>
                <p>$ 150.00</p>
              </div>
              <div class="font-size-one-rem">
                <p>Subtotal Iva 0</p>
                <p>$ 250.00</p>
              </div>
              <div class="font-size-one-rem">
                <p>Subtotal Iva 12</p>
                <p>$ 350.00</p>
              </div>
              <div class="font-size-one-rem">
                <p>Iva 12</p>
                <p>$ 450.00</p>
              </div>
              <div class="font-size-two-rem ">
                <h2>TOTAL</h2>
                <p class="text-align-end font-weight-400">$ 56750.00</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

    </div>
    
    <div class="container-form-btn">
      <button  class="btn-save" mat-raised-button color="btn-icon-accent">Guardar</button>
  </div>

</div>