
.container-gen{
    display: flex;
    flex-flow: column wrap;
    min-height: 100%;
    height: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.text-align-end{
    text-align: end;
    line-height: 1;
}

.container-child{
    width: 90%;
}
.container-gen .container-child:nth-child(2){
    margin-top: 1rem;
}
.container-gen .container-child:nth-child(3){
    margin-top: 1rem;
}


.container-child .container-datos, .container-child .mat-card{
    flex: 1 1 0;
}
.container-child .container-datos + .container-datos{
    margin-left: 5rem;
    
}


.container-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
}
.container-info .mat-card{
    width: 100%;
}

.container-items .mat-card{
    margin-top: .1em;
}

.mat-card{
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 0 !important;
    border-radius: 4px;
}
.mat-card .mat-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px !important;
    border-radius: 4px 4px 0 0;
}
.mat-card .mat-card-header .mat-card-title{
    margin-bottom: 0 !important;
    font-size: 16px !important;
}


.bg-info{
    background-color: var(--color-primary-dark);
}
.text-white{
    color: white;
}

.opacity-zero{
    opacity: 0;
}


.container-datos-cliente{
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin-top: 8px !important;
}

.container-datos-cliente .mat-form-field {
    flex: 1 1 0;    
    max-width: 17rem;
    min-width: 0;
    width: 1rem ;
    text-align: start;
    font-size: .9em;
}
.container-datos-cliente .mat-form-field + .mat-form-field{
    margin-left: 10px;
}

.container-datos .container-btn-cliente{
    margin-bottom: .3em;   
}
.container-btn-cliente button + button{
    margin-left: 8px;
}

.flex-grow-1_5{
    flex-grow: 3;
}

.flex-grow-punto_5{
    flex-grow: .5;
}


@media screen and (max-width: 388px){
    .container-btn-cliente button + button{
        margin-left: 0;
        margin-top: .2em;
    }   
}



.container-datos-factura{
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    margin-top: 8px !important;
    justify-content: center;
}

.container-datos-factura .container-form-field{
    display: inherit;
    width: 100%;
}
.container-datos-factura .container-form-field .mat-form-field {
    flex: 1 1 0;    
    max-width: 17rem;
    min-width: 0;
    width: 1rem ;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: .9em;
}

.container-datos-factura .container-form-field .mat-form-field + .mat-form-field{
    margin-left: 10px;
}

@media screen and (max-width: 1031px){
    .container-info{
        display: flex;
        flex-flow: column nowrap;
    }  

    .container-child .container-datos + .container-datos{
        margin-left: 0;
        margin-top: .5em;
    }
}

.inner-container-total-values .mat-card-content{
    width: 100%;
}

.container-totales{
    display: flex;
    flex-flow: row nowrap;
}

.container-totales-values{
    display: flex;
    justify-content: flex-end;
}

.inner-container-total-values{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-end;

    background-color: white;
    padding: 10px !important;
    max-width: 70%;
    width: auto;
}

.inner-container-total-values div{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}


.inner-container-total-values div:last-child{
    margin-top: 1rem;
}

.inner-container-total-values p{
    margin-bottom: .1em;
    flex: 1 1 0;
}
.inner-container-total-values p + p{
    text-align: end;
}

.container-observacion{
    background-color: white;
    padding: 10px !important;
}
.container-observacion .mat-form-field{
    width: 100%;
}

.container-totales div{
    flex: 1 1 0;
}


.font-size-one-rem{
    font-size: .8rem;
}
.font-size-two-rem{
    font-size: 2rem;
}

@media screen and (max-width: 900px){
    .container-totales{
        display: flex;
        flex-flow: column nowrap;
    }
    .inner-container-total-values{
        max-width: 100% !important;
        width: 100%;
        margin-top: 1em;
    }
    .container-observacion textarea{
        height: 5em;
    }
}

.btn-save{
    background-color: #00AAFF;
    color: #ffffff;
    font-weight: normal;
}
.mat-icon-accent{
    color: var(--accent-color);
}

.container-form-btn{
    width: 90%;
    text-align: end;
    margin-top: 1.5em;
}

.mat-row {
    height: 50px !important;
}

.container-btn-add-item{
    display: flex;
    justify-content: flex-end;
}
.btn-add-item{
    color: var(--accent-color);
    
    font-weight: 400;
}

/*------------------------------*/
.mat-footer-row, .mat-header-row, .mat-row{
    width: auto;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
 border-bottom-width:0;
 border-bottom-style:none; 
}

.mat-table .mat-header-row th:nth-child(n + 4), .mat-table .mat-row td:nth-child(n + 4){
    margin-right: .7rem;
}
.mat-table .mat-header-row th:nth-child(n + 5), .mat-table .mat-row td:nth-child(n + 5){
    justify-content: center;
}



.mat-table .mat-header-row th:last-child{
    justify-content: center;
    margin-right: 0;
}
.mat-table .mat-row td:last-child{
    justify-content: center;
    margin-right: 0;
}


@media screen and (max-width: 1100px){
    .inner-container-total-values{
        max-width: 90%;
    }
}

@media screen and (max-width: 930px){
    .mat-table {
        overflow-x: auto;
        overflow-y: hidden;
    }
    .mat-cell, .mat-footer-cell, .mat-header-cell{
        min-width: 90px;
    }
    .mat-footer-row, .mat-header-row, .mat-row{
        width: fit-content;
    }
    .mat-table .mat-header-row th:last-child, .mat-table .mat-row td:last-child{
        min-width: 40px;
    }
}

.font-weight-400{
    font-weight: 400;
}

.wrapper-mat-icon-delete{
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(223 114 114 / var(--tw-border-opacity));
    text-align: center;
    line-height: 23px;
}
.wrapper-mat-icon-delete .mat-icon{
    transform: translateX(-1px);
    font-size: 16px;
    line-height: 22px;
    color: rgb(223 114 114 / 1);
}

/*INPUTS CSS STYLES*/
td input{
    text-align: center;
    border: 1px solid var(--grey-400);
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

td input:focus-visible {
    border-color: var(--accent-color);
    outline: none;
    box-shadow: inset 0 0 0 1px #0969da;
  }

  .item-totals {
      font-weight: 400;
      color: var(--grey-600);
  }

.container-chips-factura{
    margin-bottom: .3em;
}

div.mat-chip-list {
    flex-flow: row nowrap !important;
}

.container-chips-factura .mat-chip{
    width: 100%;
    justify-content: center;
    min-width: 0;
    background: transparent;
    border: 1px solid var(--grey-400);
    font-weight: 400;
}

.chips-parent{
    width: 100%;
    display: inherit;
    flex-flow: row nowrap;
}