<div class="container-login">

  <div class="container-banner cover">
  </div>

  <div class="container-box-login">

    <div class="container-logo">
      <img class="img-responsive" src="../../../assets/sheyla-logo-dark.svg" width="600" height="50">
    </div>

    <div class="container-form-login">
      <h4>La solución ideal para tu Empresa</h4>

      <form [formGroup]="sendLoginForm" (ngSubmit)="login(sendLoginForm.value)">
        <div class="all-content">


            <div class="content-login-container">

                <div class="container-form-field">
                  <mat-icon>domain</mat-icon>
                    <mat-form-field >
                        <mat-label>Ruc Empresa</mat-label>
                        <input matInput type="text" formControlName="ruc" >
                    </mat-form-field>
                </div>

                <div class="container-form-field">
                  <mat-icon>account_circle</mat-icon>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Usuario" formControlName="user" >
                    </mat-form-field>
                </div>

                <div class="container-form-field">
                  <mat-icon>lock</mat-icon>
                    <mat-form-field>
                        <input matInput type="password" placeholder="contraseña" formControlName="password" >
                    </mat-form-field>
                </div>

                <div *ngIf="showDivCredentials" class="container-datos-credentials">
                  <p> Sus credenciales de acceso son:</p>
                  <p>Ruc: {{rucDivCredential}}</p>
                  <p>Usuario: ADMIN</p>
                  <p>Contraseña: ADMIN</p>
                </div>
                <div class="container-form-btn">
                    <button mat-raised-button [class.spinner]="loading" [disabled]="loading">Iniciar Sesión</button>
                </div>
            </div>
        </div>

    </form>

    <div class="login-link">
      <div>
        <a class="link-recuperar-password">¿Olvidaste tu cuenta?</a>
      </div>
      <div class="container-span">
        <span class="separator-o-span">O</span>
      </div>
      <div class="container-nueva-empresa">
        <button mat-raised-button (click)="nuevaEmpresaClick();$event.preventDefault()">Nueva Empresa</button>
      </div>
    </div>


    </div>

    <div class="container-message-info-error" [ngClass]="showTextMessageInfo ? 'opacity-one' : 'opacity-zero' ">
      <p class="text-message">{{textMessage}}</p>
    </div>
  </div>
</div>

