
.container-banner{
  background-image: url('../../../assets/logo_sheyla/sheyla_software.jpg');
}
.cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
}

.container-logo {
  display: flex;
  justify-content: center;
}
.img-responsive{
  width: 40%;
  margin-top: 10%;
}

.container-login , .container-banner{
  width: 100%;
  height: 100%;
}
.container-login{
  display: flex;
  justify-content: center;
  align-content: center;
}
.container-banner{
  display: flex;
  flex: 2 1 ;
}

.container-box-login{
  flex: 1 1 ;
}

@media  (max-width: 991px){
    .container-banner{
      display: none !important;
    }

    .img-responsive{
      max-width: 30%;
    }
}

h3, .h3{
  font-size: 24px;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.container-form-login{
  margin-top: 3%;
  padding: 10px 50px 10px 50px;
}

.container-form-login h4{
  color: #116eff;
  text-align: center;
}

.container-form-login h3{
  color: #606060;
  text-align: center;
  font-weight: 500
}

.container-form-field .mat-form-field{
  width: 100%;
}
.container-form-btn button{
  margin-top: 8%;
  width: 100%;
  font-size: 16px;
  background-color: #00AAFF;
  color: #ffffff;
  padding: 3px 12px;
  font-weight: normal;
}

.content-login-container .container-form-field{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content-login-container .container-form-field .mat-icon{
  margin-right: 18px;
}


.spinner{
  color: rgba(0,0,0,.26) !important;
  background-color: rgba(0,0,0,.12) !important;
  box-shadow: 0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12) !important;
}
