 <table>
    <thead><tr><td>
      <!--<div class="header-space">&nbsp;</div>-->
    </td></tr></thead>
    <tbody><tr><td>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </td></tr></tbody>
    <tfoot><tr><td>
      <div class="footer-space">&nbsp;</div>
    </td></tr></tfoot>
</table>
  
<!--<div class="header">
  <div>
    <p>*********************************************</p>
    <p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F A C T U R A &nbsp; &nbsp;E L E C T R O N I C A&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>** DOCUMENTO SIN VALOR TRIBUTARIO **</p>
  </div>

  <div>
    <p >CA/AUTORIZACION: 1452145125412562354125412563256325412563214521569</p>
    <p>*********************************************</p>
  </div>
</div>-->


<!--<div class="footer">
  <p>*********************************************</p>
  <div>
    <p>FACTURA ELECTRONICA, ingrese a: </p>
    <p>{{textFacturaElectronicaFooter}}</p>
  </div>
  <div>
    <span>CI/RUC:</span><span> '999999999'</span>
  </div>
  <div>
    <span>Clave:</span><span> '999999999'</span>
  </div>
  <p>*********************************************</p>

  <div>
    <br>
    <span>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</span>
    <p>FIRMA CLIENTE</p>
  </div>
  
</div> -->

<!--<div class="footer" style="height: 10px;">&nbsp;</div>
<div class="footer" style="height: 10px;">&nbsp;</div>
<div class="footer" style="height: 10px;">&nbsp;</div>
<div class="footer" style="height: 10px;">&nbsp;</div>-->
<!--  <div class="header">COOL HEADER</div>
  <router-outlet></router-outlet>-->