<div class="container-options" #containerTable>

    <button mat-raised-button class="font-weight-300 mat-elevation-z1" color="btn-icon-accent" (click)="nuevoProducto()">
      <mat-icon>add</mat-icon>
      Nuevo Producto
    </button>
  
    <button class="font-weight-300 mat-elevation-z1" mat-raised-button >
      <mat-icon>file_download</mat-icon>
      Exportar
    </button>
  </div>
  
  <div class="container-search-bar">
    <div class="inner-container-search">
      <input type="text" placeholder="Codigo o Nombre"
              [(ngModel)]="textSearchProductos"
              (keyup.enter)="searchProductosText();"/>
      <button class="font-weight-300" color="icon-accent" mat-icon-button
              matTooltip="Buscar"
              (click)="searchProductosText();$event.preventDefault();">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  
  <mat-card>
      <mat-card-header class="bg-info text-white">
          <mat-card-title class="proveedores">
              <label>Lista Productos</label>
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>

         <div class="flex-layout-table" >
              <mat-table [dataSource]="datasource" role="grid" >
  
                  <ng-container matColumnDef="codigo" >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header >Codigo</th>
                      <td mat-cell *matCellDef="let producto" data-label="Codigo"> {{producto.prod_codigo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="codigoBarra" >
                      <th mat-header-cell  *matHeaderCellDef mat-sort-header > Codigo Barras </th>
                      <td mat-cell *matCellDef="let producto" data-label="Codigo Barra"> {{producto.prod_codigo_barras}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre" >
                      <th mat-header-cell class="flex-grow-1_5" *matHeaderCellDef mat-sort-header > Nombre </th>
                      <td mat-cell class="flex-grow-1_5" *matCellDef="let producto" data-label="Nombre"> {{producto.prod_nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="stock" >
                      <th mat-header-cell class="justify-centro" *matHeaderCellDef mat-sort-header  > Stock</th>
                      <td mat-cell class="justify-centro" *matCellDef="let producto" data-label="Stock"
                      [ngClass]="{'low-stock': producto.prod_stock <= 0}"> {{producto.prod_stock}} </td>
                    </ng-container>
                    <ng-container matColumnDef="unidadMedida">
                      <th mat-header-cell class="justify-centro flex-grow-1_5" *matHeaderCellDef mat-sort-header> Unidad Medida </th>
                      <td mat-cell class="justify-centro flex-grow-1_5" *matCellDef="let producto" data-label="Unidad Medida"> {{producto.prod_unidad_medida}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="categoria">
                      <th mat-header-cell class="justify-centro flex-grow-1_5" *matHeaderCellDef mat-sort-header> Categoria </th>
                      <td mat-cell class="justify-centro flex-grow-1_5" *matCellDef="let producto" data-label="Categoria"> {{producto.pro_categoria}} </td>
                    </ng-container>
                    <ng-container matColumnDef="marca">
                      <th mat-header-cell class="justify-centro flex-grow-1_5" *matHeaderCellDef mat-sort-header> Marca </th>
                      <td mat-cell class="justify-centro flex-grow-1_5" *matCellDef="let producto" data-label="Marca"> {{producto.prod_marca}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>Opciones</th>
                      <td mat-cell *matCellDef="let row" data-label="Opciones">
                        <div>
                          <button mat-icon-button color="icon-accent" aria-label="boton editar producto" (click)="editarClick(row.prod_id)">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-icon-button color="icon-red" aria-label="boton eliminar producto" (click)="eliminarClick(row.prod_id)">
                            <mat-icon >delete</mat-icon>
                          </button>
                        </div>
  
                      </td>
                    </ng-container>
  
                  <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
  
              <mat-paginator *ngIf="showPagination" #paginator [pageSizeOptions]="[15, 30, 50]"
                   showFirstLastButtons
                   aria-label="Seleccione pagina elementos productos"
                   >
              </mat-paginator>
        
            <div *ngIf="showSinDatos"
                  style="display: flex; justify-content: center; align-items: center; margin-top: 3rem; margin-bottom: 3rem;">
                <label> No se Encontraron Datos</label>
            </div>
  
          </div>
      </mat-card-content>
  </mat-card>
  

