<div class="titulo">
    <p>{{titlePage}}</p>
  </div>

<div class="container-register">

    <div class="container-form">

        <mat-card>
            <mat-card-content>

                <mat-card-header class="bg-info text-white">
                    <mat-card-title class="clientes">
                        <h3>Datos Usuario</h3>
                        <!--  <div> <label>Total: 2</label></div> -->
                    </mat-card-title>
                </mat-card-header>

                <form [formGroup]="sendDatosFormUsuario" >
                    <div class="all-content">
                        <div class="container-form-field">
                            
                            <div class="container-identificacion mat-form-field"> 

                                <mat-form-field class="identificacion">
                                    <mat-label>Identificacion</mat-label>
                                    <input #identificacionInput matInput type="text" formControlName="identificacion" (blur)="onLostFocus(sendDatosFormUsuario.value.identificacion);">
                                </mat-form-field>

                                <button (click)="searchDatosClienteSri(sendDatosFormUsuario.value.identificacion);$event.preventDefault();" matTooltip="Buscar datos Cliente" mat-icon-button color="icon-accent" >
                                    <mat-icon >travel_explore</mat-icon>
                                </button>
                            </div>

                            <mat-form-field >
                                <mat-label>Nombre Natural</mat-label>
                                <input matInput type="text" formControlName="nombreNatural" >
                            </mat-form-field>
                        </div>
    
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Telefono</mat-label>
                                <input matInput type="text" formControlName="telefono" >
                            </mat-form-field>
    
                            <mat-form-field >
                                <mat-label>Direccion</mat-label>
                                <input matInput type="text" formControlName="direccion" >
                            </mat-form-field>
                        </div>
    
                        <div class="container-form-field">
                            <mat-form-field class="mat-form-field-date">
                                <mat-label>Email</mat-label>
                                <input matInput type="text" formControlName="email" >
                            </mat-form-field>
    
                            <mat-form-field class="mat-form-field-date">
                                <mat-label>Fecha Nacimiento</mat-label>
                                <input matInput readonly [matDatepicker]="picker" formControlName="fechaNacimiento" >
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
    
                        <div class="container-form-field">
                            <mat-form-field >
                                <mat-label>Nombre Usuario</mat-label>
                                <input matInput type="text" formControlName="nombreUsuario" >
                            </mat-form-field>
    
                            <mat-form-field >
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password">
                            </mat-form-field>
                        </div>

                        <div class="container-form-field">
                            <mat-checkbox formControlName="permisoEscritura" >Permiso Escritura</mat-checkbox>
                        </div>

                    </div>
                    
                    <div class="container-form-btn">
                        <button mat-raised-button class="btn-cancelar"
                        (mousedown)="cancelarClick();$event.preventDefault();">Cancelar</button>
                        <button (mousedown)="saveDatosUsuario(sendDatosFormUsuario.value);$event.preventDefault();" 
                        mat-raised-button color="btn-icon-accent">Guardar</button>
                    </div>

                </form>

            </mat-card-content>    
        </mat-card>

    </div>    
</div>
