<div class="container-search-bar">
    <div class="inner-container-search">
      <input type="text" placeholder="Nombre o Identificacion" [(ngModel)]="textSearchClientes" 
      (keyup.enter)="searchClientesText();"/>
      <button class="font-weight-300" color="icon-accent" mat-icon-button 
            matTooltip="Buscar" (click)="searchClientesText();$event.preventDefault();">
        <mat-icon>search</mat-icon>
      </button>

      <button *ngIf="showSinDatos" color="icon-accent" mat-stroked-button 
            matTooltip="Nuevo Cliente" (click)="nuevoClienteClick()">
            Nuevo Cliente
      </button>

    </div>
</div>
<mat-dialog-content class="margin-top-one-em">
    <div class="wrap-container">
        <mat-table [dataSource]="datasource" role="grid" style="min-width: 700px;">
            <ng-container matColumnDef="ci" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header >CI RUC </th>
                <td  mat-cell *matCellDef="let cliente" data-label="CI RUC">{{cliente.cli_documento_identidad}}</td>
              </ng-container>
              <ng-container matColumnDef="nombre" >
                <th mat-header-cell  class="flex-grow-1_5" *matHeaderCellDef mat-sort-header >Nombre </th>
                <td mat-cell class="flex-grow-1_5 text-two-lines" *matCellDef="let cliente" data-label="Nombre">{{cliente.cli_nombres_natural}}</td>
              </ng-container>
              <ng-container matColumnDef="direccion" >
                <th  mat-header-cell class="justify-centro" *matHeaderCellDef mat-sort-header >Direccion </th>
                <td mat-cell class="justify-centro text-two-lines" *matCellDef="let cliente" data-label="Direccion">{{cliente.cli_direccion}}</td>
              </ng-container>
        
              <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row (click)="clickSelectItem(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        
        <div *ngIf="showSinDatos"
                style="display: flex; justify-content: center; align-items: center; margin-top: 3rem; margin-bottom: 3rem;">
              <label> No se Encontraron Datos</label>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn-cancelar" mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
  
