<div>
    <p style="font-size:1.5rem;font-weight: 400;color: var(--grey-600);margin-bottom: 0;">Importar Proveedores</p>
</div>
<mat-dialog-content>
    <mat-card style="margin-top: 1rem;">
        <mat-card-content>
            <div class="flex-layout-table" >
                <mat-table [dataSource]="datasource" role="grid" >

                    <ng-container matColumnDef="ci" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>CI RUC </th>
                        <td mat-cell *matCellDef="let proveedor" data-label="CI RUC"> {{ proveedor.pro_documento_identidad}} </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre" >
                        <th mat-header-cell class="flex-grow-1_5" *matHeaderCellDef mat-sort-header > Nombre </th>
                        <td mat-cell *matCellDef="let proveedor" class="flex-grow-1_5" data-label="Nombre"> {{proveedor.pro_nombre_natural}} </td>
                        </ng-container>
                        <ng-container matColumnDef="email" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header > Email </th>
                        <td mat-cell  *matCellDef="let proveedor" data-label="Email"> {{proveedor.pro_email}} </td>
                        </ng-container>
                        <ng-container matColumnDef="telefono" >
                        <th mat-header-cell class="justify-centro" *matHeaderCellDef mat-sort-header  > Telefono</th>
                        <td mat-cell class="justify-centro" *matCellDef="let proveedor" data-label="Telefono"> {{proveedor.pro_telefono}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Opciones</th>
                        <td mat-cell   *matCellDef="let row; let i = index" data-label="Opciones">
                            <div class="container-options">
                                <button matTooltip="Eliminar" [disabled]="row.cli_nombres_natural == 'CONSUMIDOR FINAL' ? 'disabled' : null" 
                                    mat-icon-button color="icon-red" aria-label="boton eliminar proveedor"
                                    (click)="eliminarClick(i)">
                                    <mat-icon >delete</mat-icon>
                                </button>
                                <div class="container-estate-doc container-estate-doc-error" 
                                    *ngIf="row.pro_error_server"
                                    matTooltip="{{row.cli_message_error}}">Error</div>
                            </div>
                        </td>
                        </ng-container>

                    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <mat-paginator *ngIf="showPagination" #paginator [pageSizeOptions]="[15, 30, 50]"
                    showFirstLastButtons
                    aria-label="Seleccione pagina elementos cliente">
                </mat-paginator>


                <div *ngIf="showSinDatos"
                    style="display: flex; justify-content: center; align-items: center; margin-top: 3rem; margin-bottom: 3rem;padding-bottom: 3rem;">
                    <label> No se Encontraron Datos</label>
                </div>

            </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button class="btn-cancelar" mat-button mat-dialog-close>Cancelar</button>
    <button class="btn-primary" mat-button (click)="guardarProveedores()">Guardar</button>
</mat-dialog-actions>

