<div class="container-search-bar">
  <div class="wrapper-close">
    <span>Buscar Proveedor</span>
    <button mat-icon-button matTooltip="Cerrar" mat-dialog-close>
        <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div class="inner-container-search">
      <input type="text" placeholder="Nombre o Identificacion" [(ngModel)]="textSearchProveedores" 
      (ngModelChange)="searchProveedoresText();"
      #boxSearchInput/>
      <button class="font-weight-300" color="icon-accent" mat-icon-button 
            matTooltip="Buscar" (click)="searchProveedoresText();$event.preventDefault();">
        <mat-icon>search</mat-icon>
      </button>
  </div>
</div>

<mat-dialog-content class="margin-top-one-em">
    <div class="wrap-container">
        <mat-table [dataSource]="datasource" role="grid">
            <ng-container matColumnDef="ci" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header >CI RUC </th>
                <td  mat-cell *matCellDef="let proveedor" data-label="CI RUC">{{proveedor.pro_documento_identidad}}</td>
              </ng-container>
              <ng-container matColumnDef="nombre" >
                <th mat-header-cell  class="flex-grow-1_5" *matHeaderCellDef mat-sort-header >Nombre </th>
                <td mat-cell class="flex-grow-1_5 text-two-lines" *matCellDef="let proveedor" data-label="Nombre">{{proveedor.pro_nombre_natural}}</td>
              </ng-container>
              <ng-container matColumnDef="direccion" >
                <th  mat-header-cell class="justify-centro" *matHeaderCellDef mat-sort-header >Direccion </th>
                <td mat-cell class="justify-centro text-two-lines" *matCellDef="let proveedor" data-label="Direccion">{{proveedor.pro_direccion}}</td>
              </ng-container>
        
              <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row (click)="clickSelectItem(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        
        <div *ngIf="showSinDatos"
                style="display: flex; justify-content: center; align-items: center; margin-top: 3rem; margin-bottom: 3rem;">
              <label> No se Encontraron Datos</label>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn-cancelar" mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
