<section class="wrapper-close">
    <h2 mat-dialog-title>Términos y Condiciones</h2>
    <button mat-icon-button matTooltip="Cerrar" mat-dialog-close>
        <mat-icon>cancel</mat-icon>
    </button>
</section>

<mat-dialog-content >
    <div class="content-text"> 
        <p>Estos términos y condiciones regulan la relación entre SheylaWeb (en adelante "nosotros" o "el comercio") y tú (en adelante "cliente") con respecto al acceso y uso de nuestros servicios de facturación electrónica e inventario disponibles a través de nuestra página web.</p>
        
        <h3>1. Aceptación de los Términos y Condiciones</h3>
        <p>Al acceder y utilizar nuestra página web, aceptas cumplir y estar sujeto/a a estos términos y condiciones de uso. Si no estás de acuerdo con alguno de los términos, te solicitamos que no utilices nuestros servicios.</p>
        
        <h3>2. Uso de Contenidos y Servicios</h3>
        <p>Los contenidos y servicios ofrecidos en nuestra página web están destinados únicamente para uso personal y comercial. Queda prohibida la reproducción, distribución, modificación o venta de nuestros contenidos sin nuestra autorización expresa. Nos reservamos el derecho de modificar, suspender o interrumpir cualquier contenido o servicio ofrecido en nuestra página web sin previo aviso.</p>
        
        <h3>3. Registro y Contratación</h3>
        <p>Para acceder a nuestros servicios, es posible que debas registrarte en nuestra página web y proporcionar información personal precisa y actualizada. Al registrarte y contratar nuestros servicios, te comprometes a proporcionar información veraz y a mantener tus datos actualizados. Eres responsable de mantener la confidencialidad de tu cuenta y contraseña, y aceptas asumir la responsabilidad por todas las actividades que ocurran bajo tu cuenta.</p>
        
        <h3>4. Privacidad y Protección de Datos</h3>
        <p>Respetamos tu privacidad y protegemos tus datos personales de acuerdo con nuestra <a href="javascript: void(0)" (click)="clickPolitica()">Política de Privacidad</a>. Te invitamos a revisar nuestra política para comprender cómo recopilamos, utilizamos y protegemos tus datos.</p>
        
        <h3>5. Limitación de Responsabilidad</h3>
        <p>Nos esforzamos por proporcionar información precisa y actualizada en nuestra página web. Sin embargo, no garantizamos la precisión, integridad o confiabilidad de los contenidos y no seremos responsables de cualquier pérdida o daño resultante de su uso. No nos hacemos responsables de los errores u omisiones en los contenidos o servicios ofrecidos en nuestra página web.</p>
        
        <h3>6. Renovación de Planes</h3>
        <p>Ofrecemos una plataforma para que nuestros clientes puedan renovar sus planes contratados. La renovación de planes está sujeta a los términos y condiciones específicos de cada plan, incluyendo el pago correspondiente según las tarifas vigentes. Nos reservamos el derecho de modificar las tarifas y condiciones de renovación de planes en cualquier momento.</p>
    </div>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn-aceptar" mat-button mat-dialog-close>Aceptar</button>
</mat-dialog-actions>
