<div [ngClass]="{'font-8-px': isMobileDevice === true, 'font-12-px': isMobileDevice == false}">

    <div class="header">
        <div>
          <p class="text-center">**{{nombreEmpresa}}**</p>
          <p class="text-center">**{{razonSocial}}**</p>
          <p *ngIf="checkedContribuyenteEspecial">Contribuyente Especial Nro: {{valueContribuyenteEspecial}}</p>
          <p *ngIf="checkedPerteneceRegimenRimpe">CONTRIBUYENTE RÉGIMEN MICROEMPRESAS</p>
          <p *ngIf="checkedAgenteDeRetencion">Agente de Retención Resolucion No: {{valueAgenteRetencion}}</p>
          <p>Obligado a llevar contabilidad: {{(checkedObligadoLlevarContabilidad) ? 'SI' : 'NO'}}</p>
          <p class="text-center">************************************************</p>
          <!--<p class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F A C T U R A &nbsp; &nbsp;E L E C T R O N I C A&nbsp;&nbsp;&nbsp;&nbsp;</p>-->
          <p class="text-center">{{textTipoDocumento}}</p>
          <p class="text-center">** DOCUMENTO SIN VALOR TRIBUTARIO **</p>
        </div>
      
        <div>
          <p >{{textNumeroAutorizacion}}</p>
          <p class="text-center">************************************************</p>
        </div>
    </div>
    
    <div class="container-datos-fac-cliente">
    
        <div>
            <p>{{_textNumeroFactura}}</p>
        </div>
        <div>
            <p>{{textFechaFactura}}</p>
        </div>
        <div>
            <p>{{textUsuario}}</p>
        </div>
        <div style="height: 10px;"></div>
        <div>
            <p>{{textCliente}}</p>
        </div>
        <div>
            <p>{{textRucCi}}</p>
        </div>
        <div>
            <p>{{textDireccion}}</p>
        </div>
    </div>
    
    
    <div class="container-detalle"> 
    
        <div>
            <p style="float: left;">{{textCanItems}}</p>
            <p style="float: right;">Valor</p>
        </div>
    
        <div>
            <p class="text-center">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </p>
        </div>
    
        <table>
            <thead> 
            </thead>
            <tbody>
                <tr *ngFor="let detalle of listaVentaDetalle" style="line-height: 1;">
                    <td class="quantity">{{(detalle.cantidad.toFixed(2))}}</td>
                    <td class="description">{{detalle.nombre}}</td>
                    <td class="price">{{detalle.precio}}</td>
                    <td class="total">{{(detalle.precio * detalle.cantidad).toFixed(2).toString()}}</td>
                </tr>
            
            </tbody>
        </table>
        
    
        <div>
            <p class="text-center">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
        </div>
    </div>
    
    <div class="container-totales">
    
        <div>
            <p >SUBTOTAL</p>
            <p style="float: right;">{{textSubtotal}}</p>
        </div>
        <div>
            <p >SUBTOTAL 0%</p>
            <p style="float: right;">{{textSubtotalIva0}}</p>
        </div>
        <div>
            <p >SUBTOTAL 12%</p>
            <p style="float: right;">{{textSubtotalIva12}}</p>
        </div>
        <div>
            <p >IVA 12%</p>
            <p style="float: right;">{{textIva12}}</p>
        </div>
        <div>
            <p >TOTAL A CANCELAR</p>
            <p style="float: right;">{{textValorTotal}}</p>
        </div>
    
    </div>
    
    <div *ngIf="showObservaciones" style="line-height: 1">
        <p class="text-center">************************************************</p>
        <p>{{observacionValue}}</p>
    </div>

    <div class="footer" *ngIf="showFooterFacElectronica">
        <p class="text-center">************************************************</p>
        <div>
          <p>FACTURA ELECTRONICA, ingrese a: </p>
          <p>{{textFacturaElectronicaFooter}}</p>
        </div>
        <div>
          <span>CI/RUC:</span><span> '{{textOnlyRucCi}}'</span>
        </div>
        <div>
          <span>Clave:</span><span> '{{textOnlyRucCi}}'</span>
        </div>
        <p class="text-center">************************************************</p>
      
        <div>
          <br>
          <span class="text-center">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </span>
          <p>FIRMA CLIENTE</p>
        </div>
        
    </div>
    <div class="block">
        <p>*</p>
        <p>*</p>
    </div>
</div>

