
<div >
    <div class="titulo">
        <p>XML Documento Electrónico</p>
    </div>
    
    <div style="justify-content: flex-end;display: flex;margin-bottom: 4px;">
          <button class="boton" (click)="consultaXmlByAutorizacion();" #btnsri
          style="margin-right: 4px;">
                SRI-Buscar Clave Acceso
        </button>
        <div class="upload-btn-wrapper">
          <button class="boton">Cargar XML</button>
          <input class="inputfile" #file type="file" accept=".xml" (change)="onFileChange(file.files)" >
        </div>
    </div>

    <mat-card>
        <mat-card-header class="bg-info text-white">
          <mat-card-title class="clientes">
            <label>Datos Proveedor</label>
          </mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <form [formGroup]="formDatosDocumentoProveedor">
              <div class="container-datos-cliente">
                <mat-form-field>
                  <mat-label>CI/RUC</mat-label>
                  <input matInput type="text" formControlName="identificacion">
                </mat-form-field>
        
                <mat-form-field>
                  <mat-label>Fecha</mat-label>
                  <input matInput type="text" formControlName="fecha">
                </mat-form-field>
        
                <mat-form-field>
                  <mat-label>Documento</mat-label>
                  <input matInput type="text" formControlName="documento">
                </mat-form-field>
              </div>
             
              
              <div class="container-datos-cliente">
                  <mat-form-field>
                      <mat-label>Proveedor</mat-label>
                      <input matInput type="text" formControlName="proveedor">
                  </mat-form-field>
          
                  <mat-form-field>
                    <mat-label>Número</mat-label>
                    <input matInput type="text" formControlName="numero">
                  </mat-form-field>
              </div>
              <div class="container-datos-cliente">
                  <mat-form-field>
                      <mat-label>Dirección</mat-label>
                      <input matInput type="text" formControlName="direccion">
                  </mat-form-field>
          
                  <mat-form-field>
                    <mat-label>Autorización</mat-label>
                    <input matInput type="text" formControlName="autorizacion">
                  </mat-form-field>
              </div>

            </form>
    
          </mat-card-content>
    </mat-card>
    
    <div style="margin-top: 4px;">
        <mat-card>
            <mat-card-content>
                <mat-table [dataSource]="datasource" role="grid" >
                    
                    <!-- <ng-container matColumnDef="#" >
                        <th mat-header-cell class="flex-grow-punto_5" *matHeaderCellDef mat-sort-header >#</th>
                        <td mat-cell class="flex-grow-punto_5" *matCellDef="let producto" data-label="#"> {{producto.cli_documento_identidad}} </td>
                    </ng-container>-->
                    <ng-container matColumnDef="Codigo" >
                        <th mat-header-cell  *matHeaderCellDef mat-sort-header > Codigo </th>
                        <td mat-cell  *matCellDef="let producto" data-label="Codigo"> {{producto.codigoPrincipal}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Articulo" >
                        <th mat-header-cell class="flex-grow-1_5" *matHeaderCellDef mat-sort-header > Articulo </th>
                        <td mat-cell  class="flex-grow-1_5" *matCellDef="let producto" data-label="Articulo"> 
                          <p class="text-two-lines" style="margin: 0;">{{producto.descripcion}}</p>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Cantidad" >
                      <th mat-header-cell class="flex-grow-punto_5" *matHeaderCellDef mat-sort-header  style="justify-content: center;">Cant</th>
                      <td mat-cell class="flex-grow-punto_5" *matCellDef="let producto" data-label="Cantidad"
                      style="justify-content: center;"> 
                        {{producto.cantidad}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="P Unitario">
                      <th mat-header-cell  *matHeaderCellDef mat-sort-header style="margin-right: 10px;"> Costo Unitario </th>
                      <td mat-cell  *matCellDef="let producto" data-label="P Unitario" class="precio-unitario-td" style="justify-content: flex-end;
                      margin-right: 10px;">
                        {{producto.precioUnitario}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="descuento" >
                      <th mat-header-cell class="flex-grow-punto_5" *matHeaderCellDef mat-sort-header  style="justify-content: center;">Desc</th>
                      <td mat-cell class="flex-grow-punto_5" *matCellDef="let producto" data-label="Desc %" style="justify-content: center;">
                        {{producto.descuento}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="P Total" >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="margin-right: 10px;"> Costo Total </th>
                      <td mat-cell *matCellDef="let producto" data-label="P Total" style="justify-content: end;margin-right: 10px;">
                        {{producto.precioTotalSinImpuesto}}
                      </td>
                    </ng-container>
    
                    <ng-container matColumnDef="Iva" >
                      <th class="flex-grow-punto_5" mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Iva </th>
                      <td class="flex-grow-punto_5" mat-cell *matCellDef="let producto" data-label="Iva" style="justify-content: center;">
                         {{producto.impuestos['impuesto'].tarifa}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="Existe" >
                      <th class="flex-grow-punto_5" mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;"> Existe </th>
                      <td class="flex-grow-punto_5" mat-cell *matCellDef="let producto" data-label="Existe" style="justify-content: center;"
                      [class.existe-color] = "producto.exist">
                        {{(producto.exist == true)? "OK" : "NO"}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Codigo Interno" >
                      <th class="flex-grow-punto_5" mat-header-cell *matHeaderCellDef mat-sort-header> Cod Interno </th>
                      <td class="flex-grow-punto_5" mat-cell *matCellDef="let producto" data-label="Codigo Interno">
                        {{producto.codigoInterno}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="Descripcion Interna" >
                      <th class="flex-grow-punto_5" mat-header-cell *matHeaderCellDef mat-sort-header> Desc Interna </th>
                      <td class="flex-grow-punto_5" mat-cell *matCellDef="let producto" data-label="Descripcion Interna">
                        <p class="text-two-lines" style="margin: 0;">{{producto.descripcionInterna}}</p>
                      </td>
                    </ng-container>

                    <!--<ng-container matColumnDef="action1">
                      <th mat-header-cell class="flex-grow-punto_5" *matHeaderCellDef> </th>
                      <td mat-cell class="flex-grow-punto_5" *matCellDef="let row; let i = index" data-label="Opciones">
                        <div>
                          <button class="btn btn-sm bg-light-secondary">
                            Registrar
                          </button>
                          <button  mat-stroked-button color="primary" style="font-size: 12px; min-width: 0;">
                              Registrar
                          </button>
                        </div>
                      </td>
                    </ng-container>-->
                    
                    <ng-container matColumnDef="action2">
                      <th mat-header-cell class="flex-grow-punto_5" *matHeaderCellDef> </th>
                      <td mat-cell class="flex-grow-punto_5" *matCellDef="let row; let i = index" data-label="Opciones">
                        <div>
                          <button class="btn btn-sm bg-light-secondary" (click)="buscarProducto(i)">
                            Buscar
                          </button>

                        </div>
                      </td>
                    </ng-container>

                    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" style="height: auto !important; min-height: 3em;"></mat-row>
    
                </mat-table>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div class="container-bottom-btn">
        <div class="first">
          <button class="btn btn-primary" (click)="verRideClick()">
            
              Ver RIDE
          </button>

          <button class="btn btn-primary" (click)="generateXmlFile();">
            
              Ver XML
          </button>
          
        </div>
        <div class="second">

            <button class="btn btn-primary" (click)="convertirEnCompra()">
              Convertir en Compra
            </button>

            <button class="btn btn-danger"  (click)="cancelarClick()">
              Cancelar
            </button>

        </div>
    </div>
</div>


