.clientes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bg-info{
    background-color: var(--color-primary-dark);
}
.text-white{
    color: white;
}
table{
    width: 100%;
}   

.alineado-centro{
    display: flex;
    justify-content: center;
}   