mat-toolbar {
    background: var(--color-primary-dark);;
    color: white;
    justify-content: space-between;
  }
  
  mat-sidenav {
    display: block;
    margin: 16px;
    width: 200px;
    border-right: none;
    background: var(--color-primary-dark);
    color: white;
    border-radius: 10px;
    padding-right: 16px;
    padding-bottom: 16px;
    text-align: center;
  }
  
  .content {
    min-height: calc(100vh - 98px);;
    height: auto;
    border-radius: 10px;
    margin: 8px;
    margin-left: 28px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    
  }
  
  @media screen and (max-width: 800px){
    .content{
      margin-left: 8px;
    } 
  }
  
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  
  .menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  
  }
  
  .menu-button mat-icon{
    margin-right: 8px;
  }
  
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
  }
  
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  mat-sidenav{
    padding-right: 0;
  }
  
  .mat-drawer-inner-container{
    overflow: initial !important;
  }
  
  mat-toolbar  a img{
    cursor: pointer;
  }