@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
:root{
  --color-primary:  #24C3FB;
  --color-primary-dark:  #0093c8;
  --accent-color:  #009688;
  --red-bold: #d93737;
  --grey-300: #ecf0f3;
  --grey-600: #687782;
}
*, *::before, *::after{
  box-sizing: border-box;
}
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
img{
  max-width: 100%;
}

/*CLIENTES PAGE STYLES MATERIAL*/
.font-weight-300{
  font-weight: 300;
}
.mat-typography{
  font-weight: 300;
}
.mat-card-header-text{
  width: 100% !important;
}
.mat-card{
  padding: 0 !important;
}
.mat-card .mat-card-header{
  padding: 6px !important;
  border-radius: 4px 4px 0 0;
}
.mat-card-header{
  display: flex;
  flex-direction: row;
}
.mat-card .mat-card-header .mat-card-title {
  margin-bottom: 0 !important;
  font-size: 16px !important;
}
.mat-card .mat-card-content{
  padding: 6px;
}
.mat-table{
  width: 100%;
}


.mat-footer-row, .mat-header-row, .mat-row{
  display: flex;
  border-width: 0;
  border-bottom-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  align-items: center;
  box-sizing: border-box;
  border-bottom-color: rgba(0,0,0,.12);
  min-height: 56px;
}
.mat-cell, .mat-footer-cell, .mat-header-cell{
 display: flex;
 flex: 1;
 align-items: center;
 min-height: inherit;
 overflow: hidden;
 word-wrap: break-word;
}
.mat-cell, .mat-footer-cell{
  font-size: 12px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-width: 0 !important;
  border-bottom-style: none !important;
}
.mat-header-cell{
  color: rgba(0,0,0,.54);
  font-weight: 300;
}
.mat-button{
  font-weight: 300;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
  padding-left: 12px !important;
}

.header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0 !important;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0 !important;
}
/*-------------------------------------------------------*/