<div class="titulo">
  <p>Lista Usuarios</p>
</div>

<div class="container-options" #containerTable>

  <div>
    <div class="container-search-bar">
      <div class="inner-container-search">
        <input type="text" placeholder="Nombre o Identificacion"
                [(ngModel)]="textSearchUsuarios"
                (keyup.enter)="searchUsuariosText();"/>
        <button class="font-weight-300" color="icon-accent" mat-stroked-button
                matTooltip="Buscar"
                (click)="searchUsuariosText();$event.preventDefault();">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div>
    <button mat-raised-button class="font-weight-300 mat-elevation-z1" color="btn-icon-accent" (click)="nuevoUsuario()">
      <mat-icon>add</mat-icon>
      Nuevo Usuario
    </button>
  
    <button class="font-weight-300 mat-elevation-z1" mat-raised-button (click)="exportarUsuarios();">
      <mat-icon>file_download</mat-icon>
      Exportar
    </button>
  </div> 

</div>

  
<mat-card>
      <mat-card-content>
  
          <div class="flex-layout-table" >
              <mat-table [dataSource]="datasource" role="grid" >

                    <ng-container matColumnDef="identificacion">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header >Identificacion</th>
                      <td mat-cell *matCellDef="let usuario" data-label="Identificacion"> {{usuario.usu_identificacion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre" >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="flex-grow-1_5">Nombre </th>
                      <td mat-cell class="flex-grow-1_5" *matCellDef="let usuario" data-label="Nombre"> {{usuario.usu_nombres}} </td>
                    </ng-container>
                    <ng-container matColumnDef="telefono" >
                      <th mat-header-cell  *matHeaderCellDef mat-sort-header > Telefono </th>
                      <td mat-cell *matCellDef="let usuario" data-label="Telefono"> {{usuario.usu_telefonos}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email" >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header > Email </th>
                      <td mat-cell  *matCellDef="let usuario" data-label="Email"> {{usuario.usu_mail}} </td>
                    </ng-container>
                    <ng-container matColumnDef="username" >
                      <th mat-header-cell class="justify-centro" *matHeaderCellDef mat-sort-header  > Username </th>
                      <td mat-cell class="justify-centro" *matCellDef="let usuario" data-label="Username"> {{usuario.usu_username}} </td>
                    </ng-container>
  
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>Opciones</th>
                      <td mat-cell *matCellDef="let row" data-label="Opciones">
                        <div>
                          <button matTooltip="Editar" mat-icon-button color="icon-accent" aria-label="boton editar Usuario" (click)="editarClick(row.usu_id)">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button matTooltip="Eliminar" mat-icon-button color="icon-red" aria-label="boton eliminar Usuario"  [disabled]="row.usu_id == idUsuario ? 'disabled' : null"
                          (click)="eliminarClick(row.usu_id)">
                            <mat-icon >delete</mat-icon>
                          </button>
                        </div>
  
                      </td>
                    </ng-container>
  
                  <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
  
            <mat-paginator *ngIf="showPagination" #paginator [pageSizeOptions]="[15,30,50]"
                   showFirstLastButtons
                   aria-label="Seleccione pagina elementos Usuarios">
            </mat-paginator>
            
           <div *ngIf="showSinDatos"
                  style="display: flex; justify-content: center; align-items: center; margin-top: 3rem; margin-bottom: 3rem;padding-bottom: 3rem;">
                <label> No se Encontraron Datos</label>
            </div>

           <!-- <div *ngIf="isLoading"
                  style="display: flex; justify-content: center; align-items: center; background: white; margin-top: 3rem; margin-bottom: 3rem;">
                <mat-progress-spinner
                  color="primary"
                  mode="indeterminate"
                  [diameter]="50">
                </mat-progress-spinner>
            </div>
            -->
  
          </div>
      </mat-card-content>
</mat-card>