<div class="container">
    <h1>{{headertitle}}</h1>
    <hr>

<div mat-dialog-content>
    <p>{{titleDialog}}</p>
</div>

<div class="spacer"></div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button  [ngClass]="{'btn-cancelar': isNormalColors, 'btn-aceptar': isNormalColors == false }" [mat-dialog-close]="true">{{btnTextPositive}}</button>
    <button mat-button mat-raised-button   [ngClass]="isNormalColors ? 'btn-aceptar' : 'btn-cancelar'"  [mat-dialog-close]="false">{{btnTextCancelar}}</button>
</div>
</div>
