<div class="titulo">
    <p>Registrar Compra</p>
</div>

<div class="container-gen" >
    <div class="container-child container-info">
        <div class="container-datos">
            <div class="container-btn-cliente">
              <button mat-raised-button class="font-weight-300 mat-elevation-z1" 
                color="btn-icon-accent"  style="font-size: 12px; min-width: 0;"
                (click)="nuevoProveedorClick();$event.preventDefault();">
                <mat-icon>add</mat-icon>
                Nuevo Proveedor
              </button>
              <button mat-raised-button class="font-weight-300 mat-elevation-z1" 
                color="btn-icon-accent" style="font-size: 12px; min-width: 0;"
                (click)="buscarProveedorClick();$event.preventDefault();">
                <mat-icon>search</mat-icon>
                Buscar Proveedor
              </button>
              <button mat-raised-button class="font-weight-300 mat-elevation-z1" 
                color="btn-icon-accent" style="font-size: 12px; min-width: 0;"
                (click)="toXmlPage();$event.preventDefault();">
                XML
              </button>
              <button mat-raised-button class="font-weight-300 mat-elevation-z1"
                style="font-size: 12px; min-width: 0;" 
                color="btn-icon-accent" 
                (click)="toXmlPageSri();$event.preventDefault();">
                SRI
              </button>
            </div>
    
            <mat-card>
              <mat-card-header class="bg-info text-white">
                <mat-card-title class="clientes">
                  <label>Datos Proveedor</label>
                </mat-card-title>
                </mat-card-header>
                <mat-card-content>

                  <div class="container-datos-cliente">
    
                    <mat-form-field style="margin-bottom: -1.25em">
                      <mat-label>CI/RUC</mat-label>
                      <input matInput  type="text" disabled #identificacion [(ngModel)]="proveedorFac.ciRuc">
                  </mat-form-field>
    
                  <mat-form-field style="margin-bottom: -1.25em">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" disabled #nombreCliente [(ngModel)]="proveedorFac.nombre">
                  </mat-form-field>
    
                  <mat-form-field style="margin-bottom: -1.25em">
                    <mat-label>Telefono</mat-label>
                    <input matInput type="text" disabled #telCliente [(ngModel)]="proveedorFac.telefono">
                  </mat-form-field>
    
                  </div>
                  <div class="container-datos-cliente-dir">
                    <mat-form-field style="margin-bottom: -1.25em">
                      <mat-label>Direccion</mat-label>
                      <input matInput type="text" disabled #dirCliente [(ngModel)]="proveedorFac.direccion">
                    </mat-form-field>
                  </div>
                  <div class="container-datos-cliente-dir">
                    <mat-form-field style="margin-bottom: -1.25em">
                      <mat-label>Sustento</mat-label>
                      <mat-select [(value)]="sustentoTributarioSelect"><!-- (valueChange)="changeTipoDoc()"-->
                        <mat-option *ngFor="let sustentoTributario of listSustentoTributario" [value]="sustentoTributario">
                          {{sustentoTributario}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  
                </mat-card-content>
            </mat-card>
    
          </div>
    
          <div class="container-datos">
            <div class="container-chips-factura">
              <div class="chips-parent">
                <mat-form-field style="margin-bottom: -1.25em">
                  <mat-label>Tipo Documento</mat-label>
                  <mat-select [(value)]="tipoDocSelect" (valueChange)="changeTipoDoc()">
                    <mat-option *ngFor="let tipoDocumento of listTipoDocumento" [value]="tipoDocumento">
                      {{tipoDocumento}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <mat-card >
              <mat-card-header class="bg-info text-white">
                  <mat-card-title >
                      <label>Datos Compra</label>
                  </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="container-datos-factura">
                  <mat-spinner *ngIf="loadingSecuencial" [diameter]="30"></mat-spinner>
                  <div class="container-form-field" *ngIf="!loadingSecuencial">
                    <mat-form-field style="margin-bottom: -1.25em">
                        <input matInput type="text" name="valor001" [(ngModel)]="value001"
                        (blur)="changeNumFac(1);">
                    </mat-form-field>
                    <mat-form-field style="margin-bottom: -1.25em">
                      <input matInput type="text" [(ngModel)]="value002"
                      (blur)="changeNumFac(2);">
                    </mat-form-field>
                    <mat-form-field style="margin-bottom: -1.25em">
                      <input matInput type="number" #secuencial [(ngModel)]="valueSecuencia"
                      (blur)="changeNumFac(3);">
                    </mat-form-field>
    
                  </div>

                  <div class="container-autorizacion" [formGroup]="sendDatosFormCompra">
                    <mat-form-field class="mat-form-field-date" style="margin-bottom: -1.25em">
                      <mat-label>Numero Autorizacion</mat-label>
                      <input formControlName="numeroAutorizacionn" matInput >
                  </mat-form-field>
                  </div>

                  <div class="container-date-formapago">
                    <mat-form-field class="mat-form-field-date" style="margin-bottom: -1.25em">
                      <mat-label>Fecha</mat-label>
                      <input matInput readonly [matDatepicker]="picker" [(ngModel)]="dateFac">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field style="margin-bottom: -1.25em">
                    <mat-label>Forma Pago</mat-label>
                    <mat-select [(value)]="formaPagoSelect">
                      <mat-option *ngFor="let formaPago of listFormaPago" [value]="formaPago">
                        {{formaPago}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div>
    
                </div>
              </mat-card-content>
          </mat-card>
          </div>
    </div>

    <div class="container-child container-items">

        <div class="container-btn-add-item">
          <p>ITEMS {{cantItems}}</p>
          <button mat-raised-button color="btn-icon-accent" class="font-weight-300"
          (click)="agregarProductoClick();$event.preventDefault();">
            <mat-icon>add</mat-icon>
            Agregar Producto
          </button>
        </div>

        <mat-card>
            <mat-card-content>
                <mat-table [dataSource]="datasource" role="grid" >
                    
                    <!--<ng-container matColumnDef="#" >
                        <th mat-header-cell class="flex-grow-punto_5" *matHeaderCellDef mat-sort-header >#</th>
                        <td mat-cell class="flex-grow-punto_5" *matCellDef="let producto" data-label="#"> {{producto.cli_documento_identidad}} </td>
                    </ng-container>-->
                    <ng-container matColumnDef="Codigo" >
                        <th mat-header-cell  *matHeaderCellDef mat-sort-header > Codigo </th>
                        <td mat-cell  *matCellDef="let producto" data-label="Codigo"> {{producto.codigo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Articulo" >
                        <th mat-header-cell class="flex-grow-1_5" *matHeaderCellDef mat-sort-header > Articulo </th>
                        <td mat-cell  class="flex-grow-1_5 text-two-lines" *matCellDef="let producto" data-label="Articulo"> {{producto.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Cantidad" >
                      <th mat-header-cell class="flex-grow-punto_5" *matHeaderCellDef mat-sort-header  >Cant</th>
                      <td mat-cell class="flex-grow-punto_5" *matCellDef="let producto" data-label="Cantidad"> 
                        <input  matInput type="number" min="1" max="999999" [(ngModel)]="producto.cantidad" 
                        (blur)="changeCantidadItemBlur(producto);">
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="costo">
                      <th mat-header-cell  *matHeaderCellDef mat-sort-header>Costo</th>
                      <td mat-cell class="costo-unitario-td" *matCellDef="let producto" data-label="Costo">
                        <input  matInput type="number" [(ngModel)]="producto.costo"
                        (blur)="changePrecioUnitarioItemBlur(producto);"></td>
                    </ng-container>
                    <ng-container matColumnDef="descuento" >
                      <th mat-header-cell class="flex-grow-punto_5" *matHeaderCellDef mat-sort-header  >Desc %</th>
                      <td mat-cell class="flex-grow-punto_5" *matCellDef="let producto" data-label="Desc %">
                        <input  matInput type="number" min="0" max="100" [(ngModel)]="producto.descuento" 
                        (blur)="changeDescuentoItemBlur(producto);">
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="P Total" >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo Total </th>
                      <td mat-cell *matCellDef="let producto" data-label="P Total">
                        $ {{ ((producto.cantidad * producto.costo) - 
                          ((producto.cantidad * producto.costo) * producto.descuento / 100)).toFixed(3) }} 
                      </td>
                    </ng-container>
    
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell class="flex-grow-punto_5" *matHeaderCellDef> </th>
                      <td mat-cell class="flex-grow-punto_5" *matCellDef="let row; let i = index" data-label="Opciones">
                        <div>
                          <button mat-icon-button color="icon-red" aria-label="boton eliminar producto" 
                          (click)="removeCart(i);">
                            <a class="wrapper-mat-icon-delete">
                              <mat-icon >clear</mat-icon>
                            </a>
                          </button>
                        </div>
                      </td>
                    </ng-container>
    
                    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" style="height: auto !important; min-height: 3em;"></mat-row>

                </mat-table>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="container-child container-totales">
      <div class="container-observacion">
        <mat-card >
          <mat-card-content>
            <mat-form-field class="font-size-one-rem">
              <textarea matInput rows="7" placeholder="Observacion..." [(ngModel)]="observacion"></textarea>
            </mat-form-field>
          </mat-card-content>
      </mat-card>
      </div>

        <div class="container-totales-values container-observacion">
          <mat-card class="inner-container-total-values">
            <mat-card-content>
              <div class="font-size-one-rem item-totals">
                <p>Subtotal</p>
                <p>$ {{subtotal}}</p>
              </div>
              <div class="font-size-one-rem item-totals">
                <p>Subtotal Iva 0</p>
                <p>$ {{subtotalIva0}}</p>
              </div>
              <div class="font-size-one-rem item-totals">
                <p>Subtotal Iva {{calcularIvaTemplate()}}</p>
                <p>$ {{subtotalIva12}}</p>
              </div>
              <div class="font-size-one-rem item-totals">
                <p>Iva {{calcularIvaTemplate()}}</p>
                <p>$ {{Iva12}}</p>
              </div>
              <div class="font-size-two-rem">
                <h2>TOTAL</h2>
                <p class="text-align-end font-weight-400" >$ {{total}}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

    </div>
    
    <div class="container-form-btn">
      <button   mat-raised-button class="btn-cancelar"
      (click)="cancelarClick();$event.preventDefault();">Cancelar</button>
      <button  class="btn-save" mat-raised-button color="btn-icon-accent"
      (click)="guardarCompra();$event.preventDefault();">Guardar</button>
    </div>
</div>
